n8n/[S002][SEO][Google Map Leads][02.01.01][Extract Subpages][v1.0]_
{"updatedAt":"2025-12-03T15:35:29.321Z","createdAt":"2025-12-03T11:58:08.615Z","id":"Bne6NHsJ0s5x4EPf","name":"[S002][SEO][Google Map Leads][02.01.01][Extract Subpages][v1.0]*","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,16],"id":"c8f92a50-8640-4b59-bc46-fef21f9381dc","name":"HTTP Request"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"url","options":{"disableDotNotation":true}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1600,-128],"id":"12fed7a7-78d7-4928-b403-fbaa9afa6eed","name":"Remove Duplicates","alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,-192],"id":"7746e2c1-7cf1-460a-a924-63fac88cd5fc","name":"Split Out"},{"parameters":{"workflowInputs":{"values":[{"name":"url"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"56c1d9cc-c29a-4498-9a45-ba01ab9699d8","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json.data || ''; // HTML como string\n\n  // Links somente em <a ... href=\"...\">\n  const linkRegex = /<a\\b[^>]*\\bhref=[\"']([^\"']+)[\"'][^>]*>/gi;\n  const links = [];\n\n  let match;\n  while ((match = linkRegex.exec(data)) !== null) {\n    links.push(match[1]); // valor do href\n  }\n\n  results.push({\n    json: {\n      links,\n    },\n  });\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-176],"id":"e201f9a5-e38c-432f-9a01-f321443861ae","name":"ObterLinks"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b8d399e-f50c-48e1-a3bd-03f7127f0b56","leftValue":"={{ $json.links }}","rightValue":"#","operator":{"type":"string","operation":"notStartsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1856,-96],"id":"ab0f4f2e-c5fb-4603-9fb3-95d8c7365596","name":"Remover as Ancoras"},{"parameters":{"jsCode":"// Obtém os dados de entrada\n//const items = $input.all();\n\n// Obtém a URL base do site (parâmetro de entrada)\nconst baseUrl = $input.first().json.url;\n  \n// Array para armazenar os links processados\nconst processedLinks = [];\n\n//--\n\nconsole.log(baseUrl);\n\n// Verifica se existe um array de links no objeto\nconst links = $input.first().json.listlinks;\n\n// Extrai o domínio base\nconst baseDomain = getDomain(baseUrl);\n\n// Garante que links seja um array\nconst linksArray = Array.isArray(links) ? links : [links];\n\n// Processa cada link\nfor (let link of linksArray) {\n  if (!link || typeof link !== 'string') continue;\n  \n  // Remove âncoras\n  let cleanLink = removeAnchor(link);\n  \n  // Remove espaços em branco\n  cleanLink = cleanLink.trim();\n  \n  // Pula links vazios\n  if (!cleanLink) continue;\n  \n  // Verifica se é link interno\n  let isInternal = false;\n  \n  // Se o link é relativo (não começa com http/https)\n  if (!cleanLink.startsWith('http://') && !cleanLink.startsWith('https://')) {\n    isInternal = true;\n    // Converte para URL absoluta se necessário\n    if (!cleanLink.startsWith('/')) {\n      cleanLink = \"/\" + cleanLink;\n    }\n  } else {\n    // Se é URL absoluta, verifica o domínio\n    const linkDomain = getDomain(cleanLink);\n    if (linkDomain && linkDomain === baseDomain) {\n      isInternal = true;\n    }\n}\n\n// Adiciona apenas links internos\nif (isInternal) {\n  // Remove duplicatas\n  if (!processedLinks.includes(cleanLink)) {\n    processedLinks.push(cleanLink);\n  }\n}\n}\n//--\n\n\n\n// Função para extrair o domínio de uma URL\nfunction getDomain(url) {\n  try {\n    const urlObj = new url(url);\n    return urlObj.hostname.replace('www.', '');\n  } catch (e) {\n    return null;\n  }\n}\n\n// Função para remover âncoras de uma URL\nfunction removeAnchor(url) {\n  return url.split('#')[0];\n}\n\n//return ;\n\n// Retorna os links processados\nreturn processedLinks.map(link => ({\n  json: {\n    url: link,\n    cleanUrl: link,\n    isInternal: true\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-96],"id":"86b12a06-5a1c-4768-9b47-68c8d905d389","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"bacd399d-5f62-4f40-997f-987fb515e682","name":"url","value":"={{ $('When Executed by Another Workflow').item.json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,160],"id":"bfefd2d4-fd69-48eb-9a23-aff74f988649","name":"Dominio"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1168,-80],"id":"4a9c7644-0131-408f-92c9-00bf81a1e321","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"links","renameField":true,"outputFieldName":"listlinks"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[944,-192],"id":"794ab557-ebb3-4dcc-a1d4-bf1204cb0e8f","name":"Aggregate"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-400],"id":"2fdf6102-e4af-4da0-a584-3d2f97121686","name":"Code1"}],"connections":{"HTTP Request":{"main":[[{"node":"ObterLinks","type":"main","index":0},{"node":"Dominio","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Remover as Ancoras","type":"main","index":0}]]},"ObterLinks":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Dominio":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"url":"http://www.sosalimentos.com.br/"}}]},"versionId":"c2e8e2fa-5411-4d77-a274-2932718a6e87","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T11:58:08.615Z","createdAt":"2025-12-03T11:58:08.615Z","role":"workflow:owner","workflowId":"Bne6NHsJ0s5x4EPf","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":null,"tags":[]}