n8n/[S002][SEO][Buscas][04.0][Buscas][v1.0]
{"updatedAt":"2025-11-24T19:18:36.772Z","createdAt":"2025-09-08T17:34:15.648Z","id":"C0tVqxsqtZ28ezW4","name":"[S002][SEO][Buscas][04.0][Buscas][v1.0]","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"0b6efc6a-f15b-4927-aa6f-993e24d03dc4","name":"When clicking ‘Test workflow’"},{"parameters":{"collection":"activities","options":{},"query":"{\"ativa\":\"V\"}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[224,0],"id":"902fe1ed-0a48-41ea-a0fb-d4bd47408bbc","name":"MongoDB","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0],"id":"24f1c593-135a-4266-b556-6b68e665a3c2","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,16],"id":"f4145e98-eed3-4c8a-ac7e-6b5eb2f4c126","name":"Wait","webhookId":"db20c46c-a5ad-496a-a913-026dbcdaf217"},{"parameters":{"workflowId":{"__rl":true,"value":"4yo4UEhT18mGr0fP","mode":"list","cachedResultName":"[S002][SEO][Buscas][04.1][Buscas][v1.0]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"atividade":"={{ $json.nome }}"},"matchingColumns":["atividade"],"schema":[{"id":"atividade","displayName":"atividade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[688,16],"id":"fe7cbfda-d46a-486c-9831-6de95df9a17e","name":"Execute Workflow"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"897ac682-38bb-4357-867b-9cc2be5157ca","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:34:15.648Z","createdAt":"2025-09-08T17:34:15.648Z","role":"workflow:owner","workflowId":"C0tVqxsqtZ28ezW4","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":null,"tags":[]}