n8n/[S002][SEO][Google Map Leads][01.1.1][SubFlow][Scanner][MongoDB][v1.1]
{"updatedAt":"2026-06-03T00:19:45.087Z","createdAt":"2025-09-08T17:35:24.279Z","id":"egVI349ciziFHdZH","name":"[S002][SEO][Google Map Leads][01.1.1][SubFlow][Scanner][MongoDB][v1.1]","active":true,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1616,480],"id":"c44fe5b4-b58e-46da-8b62-5664501c3660","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1424,480],"id":"ef4be50e-fba3-476f-9e68-6d5327da11e1","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"416543f6-f4a9-4f40-9dbb-44278c70260d","name":"place_id","value":"={{ $json.id }}","type":"string"},{"id":"05178243-dee7-478c-9637-5688bfdc704d","name":"name","value":"={{ $json.displayName.text }}","type":"string"},{"id":"0b445ae3-2a26-458e-91fe-658c5c592f03","name":"formatted_address","value":"={{ $json.formattedAddress }}","type":"string"},{"id":"5c630af6-d942-4740-aeb7-5ebb12f187b7","name":"tipo","value":"={{ $('When Executed by Another Workflow').item.json.tipo }}","type":"string"},{"id":"93855045-6a75-49cf-a333-fc92a84bea76","name":"rating","value":"={{ $json.rating }}","type":"number"},{"id":"809f64ec-2279-463e-b85a-a77569949886","name":"userRatingCount","value":"={{ $json.userRatingCount }}","type":"number"},{"id":"4e910ce9-41d9-4902-99b8-927d30af1794","name":"businessStatus","value":"={{ $json.businessStatus }}","type":"string"},{"id":"b9aa95a8-1c87-4444-8a6b-cebbb36431cc","name":"types","value":"={{ $json.types }}","type":"array"},{"id":"301a8dc7-293b-4de9-b0d9-e6c89a18df51","name":"businessStatus","value":"={{ $json.businessStatus }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,400],"id":"d4eaa4e3-18cc-458d-a224-4118f7bf3e62","name":"Place"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"place_id","value":"={{ $json.place_id }}"},{"name":"fields","value":"name,rating,user_ratings_total,formatted_phone_number,website"},{"name":"key","value":"AIzaSyDQLybSJH7sv-CY8gx8Has2JM5Fm4krjrQ"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-32],"id":"da2bae3c-a094-4251-a486-4211632f22d4","name":"Place Detail http","credentials":{"googleApi":{"id":"NkJCLtpuC14pKwPN","name":"Google Service Account account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e7f40b5c-d83e-4398-b90d-14b20717a320","name":"place_id","value":"={{ $('Place').first().json.place_id }}","type":"string"},{"id":"8b2805d6-6fbb-4a7e-aee7-d3f48b07e55e","name":"nome","value":"={{ $('NovosCampos').item.json.name }}","type":"string"},{"id":"1bb7f022-ae3e-4574-a117-f435516edd42","name":"endereco_completo","value":"={{ $('Place').item.json.formatted_address }}","type":"string"},{"id":"df867a08-4553-4ae9-98bf-5274de94c3c4","name":"endereco","value":"={{ $('Separar Endereço').first().json.address }}","type":"string"},{"id":"25877942-9045-48d1-b51a-27414174de21","name":"numero","value":"={{ $('Separar Endereço').first().json.number }}","type":"string"},{"id":"021b13fa-ee6d-4686-91f2-134a7a682f90","name":"complemento","value":"={{ $('Separar Endereço').first().json.complement }}","type":"string"},{"id":"dce65904-d16f-4ebe-a052-f64bd30f9a9a","name":"bairro","value":"={{ $('Separar Endereço').first().json.bairro }}","type":"string"},{"id":"862a0c32-d1f9-43f1-9a16-dcddf4b6d3d9","name":"cidade","value":"={{ $('Separar Endereço').first().json.city }}","type":"string"},{"id":"ff7f4a13-a521-4177-83ff-6acffab107fa","name":"sigla_estado","value":"={{ $('Separar Endereço').first().json.state }}","type":"string"},{"id":"b03e11c8-33c6-41af-a19d-6d8d78cec054","name":"cep","value":"={{ $('Separar Endereço').first().json.zip_code }}","type":"string"},{"id":"e251bbb3-14b3-4b8d-85e3-82e9a5e55d9f","name":"telefone","value":"={{ $json.nationalPhoneNumber }}","type":"string"},{"id":"56de5afd-59da-4486-bb5b-da42d779bad9","name":"rating","value":"={{ $('Place').item.json.rating }}","type":"number"},{"id":"1cfc7006-16ca-486e-a15d-09bfc828ea87","name":"total_avaliacoes","value":"={{ $('Place').item.json.userRatingCount }}","type":"number"},{"id":"1f298440-f468-4824-861a-4faccdb04499","name":"website","value":"={{ $json.websiteUri }}","type":"string"},{"id":"22491f5a-8f25-43ce-9f06-6fca6d93c64a","name":"tipo","value":"={{ $('Place').item.json.tipo }}","type":"string"},{"id":"a7e919e6-c4ec-4972-bb2c-b9f2149c4c6a","name":"internationalPhoneNumber","value":"={{ $json.internationalPhoneNumber }}","type":"string"},{"id":"627b4e85-db78-40a1-9161-cabf4f8432f9","name":"types","value":"={{ $('Place').item.json.types }}","type":"array"},{"id":"531fd399-afe6-4d3a-bb1c-590fc0c27d0f","name":"businessStatus","value":"={{ $('Place').item.json.businessStatus }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,288],"id":"0a7271f8-6d15-4452-b6dc-30f6203eb850","name":"Place Detail"},{"parameters":{"jsCode":"// Captura todos os itens que chegam no nó\nconst items = $input.all();\nif (items.length === 0) return items;\n\n// Pega o endereço do primeiro item\nconst address_string = items[0].json.formatted_address;\n\nfunction parseAddressRobust(addressString) {\n    if (!addressString) return {};\n    \n    // Divide a string por ' - '\n    let parts = addressString.split(' - ').map(part => part.trim());\n    \n    let address = null, number = null, complement = null, bairro = null;\n    let city = null, state = null, zip_code = null, country = null, building_name = null;\n\n    // Se o endereço estiver bizarramente curto, evita quebrar o fluxo\n    if (parts.length < 2) {\n        const fallback = addressString.split(',').map(p => p.trim());\n        return { address: fallback[0] || null };\n    }\n\n    // 1. EXTRAIR ESTADO, CEP E PAÍS (Sempre o último bloco)\n    const estadoBlock = parts.pop();\n    const estadoParts = estadoBlock.split(',').map(p => p.trim());\n    state = estadoParts[0] || null;\n    zip_code = estadoParts[1] || null;\n    country = estadoParts[2] || null;\n\n    // 2. EXTRAIR BAIRRO E CIDADE (Sempre o penúltimo bloco)\n    if (parts.length > 0) {\n        const bairroBlock = parts.pop();\n        const bairroParts = bairroBlock.split(',').map(p => p.trim());\n        if (bairroParts.length > 1) {\n            bairro = bairroParts[0];\n            city = bairroParts[1];\n        } else {\n            city = bairroParts[0]; // Caso cidades pequenas omitam o bairro\n        }\n    }\n\n    // 3. CORRIGIR ANOMALIAS (Ex: \"Av - Perimetral Sudeste, 10655\")\n    // Se restaram 2 partes, e a primeira for só o tipo do logradouro (sem vírgula) e a segunda tiver a numeração...\n    if (parts.length === 2 && !parts[0].includes(',') && parts[1].includes(',')) {\n        // Junta de volta o \"Av\" ao resto da rua\n        parts = [ parts[0] + \" - \" + parts[1] ];\n    }\n\n    // 4. PROCESSAR O QUE RESTOU (Rua, Número, Complemento ou Prédio)\n    if (parts.length === 1) {\n        // Padrão: \"Rua Exemplo, 123\"\n        const addrParts = parts[0].split(',');\n        address = addrParts[0] ? addrParts[0].trim() : null;\n        number = addrParts[1] ? addrParts[1].trim() : null;\n    } else if (parts.length === 2) {\n        // Padrão: [\"Rua Exemplo, 123\", \"Apto 45\"]\n        const addrParts = parts[0].split(',');\n        address = addrParts[0] ? addrParts[0].trim() : null;\n        number = addrParts[1] ? addrParts[1].trim() : null;\n        complement = parts[1];\n    } else if (parts.length >= 3) {\n        // Padrão com Edifício: [\"Condomínio X\", \"Rua Exemplo, 123\", \"Bloco B\"]\n        building_name = parts[0];\n        const addrParts = parts[1].split(',');\n        address = addrParts[0] ? addrParts[0].trim() : null;\n        number = addrParts[1] ? addrParts[1].trim() : null;\n        complement = parts[2];\n    }\n\n    return { address, number, complement, bairro, city, state, zip_code, country, building_name };\n}\n\n// Executa a função robusta\nconst endereco = parseAddressRobust(address_string);\n\n// Injeta os dados limpos de volta no payload do N8N\nitems[0].json.address = endereco.address;\nitems[0].json.number = endereco.number;\nitems[0].json.complement = endereco.complement;\nitems[0].json.bairro = endereco.bairro;\nitems[0].json.city = endereco.city;\nitems[0].json.state = endereco.state;\nitems[0].json.zip_code = endereco.zip_code;\nitems[0].json.country = endereco.country;\nitems[0].json.building_name = endereco.building_name;\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,288],"id":"9aacd9e9-0dcf-49f0-adac-6f34baf9867a","name":"Separar Endereço"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1888,464],"id":"f1d33e30-27e8-4e6f-9853-3064d6632c71","name":"When Executed by Another Workflow"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[784,608],"id":"863f1a10-3a4a-4d7a-ad93-589cb2abe340","name":"Wait","webhookId":"c29a0d84-bf72-4c9a-8fa2-c795a42900ad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c050a5a3-25c0-45ed-bd24-8afb2b976817","leftValue":"={{ $('ProcuraLugar').first().json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,400],"id":"d20b3806-7d67-448d-b3a8-0df23a0d0907","name":"If"},{"parameters":{"collection":"places","options":{},"query":"={  \"place_id\": \"{{ $('Place').item.json.place_id }}\"}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[-960,400],"id":"205b3941-5ac3-4c0f-be22-7aa011f398b1","name":"ProcuraLugar","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"assignments":{"assignments":[{"id":"87c7c84a-ec0a-4804-a2e3-56390104312a","name":"place_id","value":"={{ $('Place').item.json.place_id }}","type":"string"},{"id":"c7a079c6-b246-40ad-8e6d-d3d8209435d5","name":"name","value":"={{ $('Place').item.json.name }}","type":"string"},{"id":"f35a6216-ceea-41e4-a091-c312e092ea0f","name":"formatted_address","value":"={{ $('Place').item.json.formatted_address }}","type":"string"},{"id":"b46a58bc-b4fe-4d5d-83e9-2a663ddb0dc6","name":"tipo","value":"={{ $('Place').item.json.tipo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,288],"id":"49985397-7e7f-474e-a1ae-b52a39c1a8b9","name":"NovosCampos"},{"parameters":{"url":"=https://places.googleapis.com/v1/places/{{ $json.place_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"AIzaSyBhS7KeqHuBlpYDSJpOEgCAcEaAm8PrY0Y"},{"name":"X-Goog-FieldMask","value":"websiteUri,nationalPhoneNumber,internationalPhoneNumber"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,464],"id":"1ce2dce3-2e25-4e22-9d07-53370b88ba8a","name":"PlaceDetail"},{"parameters":{"operation":"findOneAndReplace","collection":"places","updateKey":"place_id","fields":"=place_id, nome, tipo, endereco_completo, endereco, numero, complemento, bairro, cidade, sigla_estado, estado, cep, telefone, rating, total_avaliacoes, website, types,internationalPhoneNumber,businessStatus","upsert":true,"options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[496,288],"id":"d451837a-8692-466f-8ab2-5b823f69342b","name":"Find and replace documents","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}}],"connections":{"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Place","type":"main","index":0}]]},"Place":{"main":[[{"node":"ProcuraLugar","type":"main","index":0}]]},"Place Detail http":{"main":[[]]},"Place Detail":{"main":[[{"node":"Find and replace documents","type":"main","index":0}]]},"Separar Endereço":{"main":[[{"node":"PlaceDetail","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"NovosCampos","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"ProcuraLugar":{"main":[[{"node":"If","type":"main","index":0}]]},"NovosCampos":{"main":[[{"node":"Separar Endereço","type":"main","index":0}]]},"PlaceDetail":{"main":[[{"node":"Place Detail","type":"main","index":0}]]},"Find and replace documents":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"ProcuraLugar":[{"json":{}}]},"versionId":"3196169e-6e95-4424-86e2-1f7e8287b0b5","activeVersionId":"3196169e-6e95-4424-86e2-1f7e8287b0b5","triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:35:24.279Z","createdAt":"2025-09-08T17:35:24.279Z","role":"workflow:owner","workflowId":"egVI349ciziFHdZH","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":{"updatedAt":"2026-06-03T00:19:52.063Z","createdAt":"2026-06-03T00:19:45.093Z","versionId":"3196169e-6e95-4424-86e2-1f7e8287b0b5","workflowId":"egVI349ciziFHdZH","nodes":[{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1616,480],"id":"c44fe5b4-b58e-46da-8b62-5664501c3660","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1424,480],"id":"ef4be50e-fba3-476f-9e68-6d5327da11e1","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"416543f6-f4a9-4f40-9dbb-44278c70260d","name":"place_id","value":"={{ $json.id }}","type":"string"},{"id":"05178243-dee7-478c-9637-5688bfdc704d","name":"name","value":"={{ $json.displayName.text }}","type":"string"},{"id":"0b445ae3-2a26-458e-91fe-658c5c592f03","name":"formatted_address","value":"={{ $json.formattedAddress }}","type":"string"},{"id":"5c630af6-d942-4740-aeb7-5ebb12f187b7","name":"tipo","value":"={{ $('When Executed by Another Workflow').item.json.tipo }}","type":"string"},{"id":"93855045-6a75-49cf-a333-fc92a84bea76","name":"rating","value":"={{ $json.rating }}","type":"number"},{"id":"809f64ec-2279-463e-b85a-a77569949886","name":"userRatingCount","value":"={{ $json.userRatingCount }}","type":"number"},{"id":"4e910ce9-41d9-4902-99b8-927d30af1794","name":"businessStatus","value":"={{ $json.businessStatus }}","type":"string"},{"id":"b9aa95a8-1c87-4444-8a6b-cebbb36431cc","name":"types","value":"={{ $json.types }}","type":"array"},{"id":"301a8dc7-293b-4de9-b0d9-e6c89a18df51","name":"businessStatus","value":"={{ $json.businessStatus }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,400],"id":"d4eaa4e3-18cc-458d-a224-4118f7bf3e62","name":"Place"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/details/json","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"place_id","value":"={{ $json.place_id }}"},{"name":"fields","value":"name,rating,user_ratings_total,formatted_phone_number,website"},{"name":"key","value":"AIzaSyDQLybSJH7sv-CY8gx8Has2JM5Fm4krjrQ"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-32],"id":"da2bae3c-a094-4251-a486-4211632f22d4","name":"Place Detail http","credentials":{"googleApi":{"id":"NkJCLtpuC14pKwPN","name":"Google Service Account account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e7f40b5c-d83e-4398-b90d-14b20717a320","name":"place_id","value":"={{ $('Place').first().json.place_id }}","type":"string"},{"id":"8b2805d6-6fbb-4a7e-aee7-d3f48b07e55e","name":"nome","value":"={{ $('NovosCampos').item.json.name }}","type":"string"},{"id":"1bb7f022-ae3e-4574-a117-f435516edd42","name":"endereco_completo","value":"={{ $('Place').item.json.formatted_address }}","type":"string"},{"id":"df867a08-4553-4ae9-98bf-5274de94c3c4","name":"endereco","value":"={{ $('Separar Endereço').first().json.address }}","type":"string"},{"id":"25877942-9045-48d1-b51a-27414174de21","name":"numero","value":"={{ $('Separar Endereço').first().json.number }}","type":"string"},{"id":"021b13fa-ee6d-4686-91f2-134a7a682f90","name":"complemento","value":"={{ $('Separar Endereço').first().json.complement }}","type":"string"},{"id":"dce65904-d16f-4ebe-a052-f64bd30f9a9a","name":"bairro","value":"={{ $('Separar Endereço').first().json.bairro }}","type":"string"},{"id":"862a0c32-d1f9-43f1-9a16-dcddf4b6d3d9","name":"cidade","value":"={{ $('Separar Endereço').first().json.city }}","type":"string"},{"id":"ff7f4a13-a521-4177-83ff-6acffab107fa","name":"sigla_estado","value":"={{ $('Separar Endereço').first().json.state }}","type":"string"},{"id":"b03e11c8-33c6-41af-a19d-6d8d78cec054","name":"cep","value":"={{ $('Separar Endereço').first().json.zip_code }}","type":"string"},{"id":"e251bbb3-14b3-4b8d-85e3-82e9a5e55d9f","name":"telefone","value":"={{ $json.nationalPhoneNumber }}","type":"string"},{"id":"56de5afd-59da-4486-bb5b-da42d779bad9","name":"rating","value":"={{ $('Place').item.json.rating }}","type":"number"},{"id":"1cfc7006-16ca-486e-a15d-09bfc828ea87","name":"total_avaliacoes","value":"={{ $('Place').item.json.userRatingCount }}","type":"number"},{"id":"1f298440-f468-4824-861a-4faccdb04499","name":"website","value":"={{ $json.websiteUri }}","type":"string"},{"id":"22491f5a-8f25-43ce-9f06-6fca6d93c64a","name":"tipo","value":"={{ $('Place').item.json.tipo }}","type":"string"},{"id":"a7e919e6-c4ec-4972-bb2c-b9f2149c4c6a","name":"internationalPhoneNumber","value":"={{ $json.internationalPhoneNumber }}","type":"string"},{"id":"627b4e85-db78-40a1-9161-cabf4f8432f9","name":"types","value":"={{ $('Place').item.json.types }}","type":"array"},{"id":"531fd399-afe6-4d3a-bb1c-590fc0c27d0f","name":"businessStatus","value":"={{ $('Place').item.json.businessStatus }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,288],"id":"0a7271f8-6d15-4452-b6dc-30f6203eb850","name":"Place Detail"},{"parameters":{"jsCode":"// Captura todos os itens que chegam no nó\nconst items = $input.all();\nif (items.length === 0) return items;\n\n// Pega o endereço do primeiro item\nconst address_string = items[0].json.formatted_address;\n\nfunction parseAddressRobust(addressString) {\n    if (!addressString) return {};\n    \n    // Divide a string por ' - '\n    let parts = addressString.split(' - ').map(part => part.trim());\n    \n    let address = null, number = null, complement = null, bairro = null;\n    let city = null, state = null, zip_code = null, country = null, building_name = null;\n\n    // Se o endereço estiver bizarramente curto, evita quebrar o fluxo\n    if (parts.length < 2) {\n        const fallback = addressString.split(',').map(p => p.trim());\n        return { address: fallback[0] || null };\n    }\n\n    // 1. EXTRAIR ESTADO, CEP E PAÍS (Sempre o último bloco)\n    const estadoBlock = parts.pop();\n    const estadoParts = estadoBlock.split(',').map(p => p.trim());\n    state = estadoParts[0] || null;\n    zip_code = estadoParts[1] || null;\n    country = estadoParts[2] || null;\n\n    // 2. EXTRAIR BAIRRO E CIDADE (Sempre o penúltimo bloco)\n    if (parts.length > 0) {\n        const bairroBlock = parts.pop();\n        const bairroParts = bairroBlock.split(',').map(p => p.trim());\n        if (bairroParts.length > 1) {\n            bairro = bairroParts[0];\n            city = bairroParts[1];\n        } else {\n            city = bairroParts[0]; // Caso cidades pequenas omitam o bairro\n        }\n    }\n\n    // 3. CORRIGIR ANOMALIAS (Ex: \"Av - Perimetral Sudeste, 10655\")\n    // Se restaram 2 partes, e a primeira for só o tipo do logradouro (sem vírgula) e a segunda tiver a numeração...\n    if (parts.length === 2 && !parts[0].includes(',') && parts[1].includes(',')) {\n        // Junta de volta o \"Av\" ao resto da rua\n        parts = [ parts[0] + \" - \" + parts[1] ];\n    }\n\n    // 4. PROCESSAR O QUE RESTOU (Rua, Número, Complemento ou Prédio)\n    if (parts.length === 1) {\n        // Padrão: \"Rua Exemplo, 123\"\n        const addrParts = parts[0].split(',');\n        address = addrParts[0] ? addrParts[0].trim() : null;\n        number = addrParts[1] ? addrParts[1].trim() : null;\n    } else if (parts.length === 2) {\n        // Padrão: [\"Rua Exemplo, 123\", \"Apto 45\"]\n        const addrParts = parts[0].split(',');\n        address = addrParts[0] ? addrParts[0].trim() : null;\n        number = addrParts[1] ? addrParts[1].trim() : null;\n        complement = parts[1];\n    } else if (parts.length >= 3) {\n        // Padrão com Edifício: [\"Condomínio X\", \"Rua Exemplo, 123\", \"Bloco B\"]\n        building_name = parts[0];\n        const addrParts = parts[1].split(',');\n        address = addrParts[0] ? addrParts[0].trim() : null;\n        number = addrParts[1] ? addrParts[1].trim() : null;\n        complement = parts[2];\n    }\n\n    return { address, number, complement, bairro, city, state, zip_code, country, building_name };\n}\n\n// Executa a função robusta\nconst endereco = parseAddressRobust(address_string);\n\n// Injeta os dados limpos de volta no payload do N8N\nitems[0].json.address = endereco.address;\nitems[0].json.number = endereco.number;\nitems[0].json.complement = endereco.complement;\nitems[0].json.bairro = endereco.bairro;\nitems[0].json.city = endereco.city;\nitems[0].json.state = endereco.state;\nitems[0].json.zip_code = endereco.zip_code;\nitems[0].json.country = endereco.country;\nitems[0].json.building_name = endereco.building_name;\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,288],"id":"9aacd9e9-0dcf-49f0-adac-6f34baf9867a","name":"Separar Endereço"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1888,464],"id":"f1d33e30-27e8-4e6f-9853-3064d6632c71","name":"When Executed by Another Workflow"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[784,608],"id":"863f1a10-3a4a-4d7a-ad93-589cb2abe340","name":"Wait","webhookId":"c29a0d84-bf72-4c9a-8fa2-c795a42900ad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c050a5a3-25c0-45ed-bd24-8afb2b976817","leftValue":"={{ $('ProcuraLugar').first().json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,400],"id":"d20b3806-7d67-448d-b3a8-0df23a0d0907","name":"If"},{"parameters":{"collection":"places","options":{},"query":"={  \"place_id\": \"{{ $('Place').item.json.place_id }}\"}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[-960,400],"id":"205b3941-5ac3-4c0f-be22-7aa011f398b1","name":"ProcuraLugar","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"assignments":{"assignments":[{"id":"87c7c84a-ec0a-4804-a2e3-56390104312a","name":"place_id","value":"={{ $('Place').item.json.place_id }}","type":"string"},{"id":"c7a079c6-b246-40ad-8e6d-d3d8209435d5","name":"name","value":"={{ $('Place').item.json.name }}","type":"string"},{"id":"f35a6216-ceea-41e4-a091-c312e092ea0f","name":"formatted_address","value":"={{ $('Place').item.json.formatted_address }}","type":"string"},{"id":"b46a58bc-b4fe-4d5d-83e9-2a663ddb0dc6","name":"tipo","value":"={{ $('Place').item.json.tipo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,288],"id":"49985397-7e7f-474e-a1ae-b52a39c1a8b9","name":"NovosCampos"},{"parameters":{"url":"=https://places.googleapis.com/v1/places/{{ $json.place_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"AIzaSyBhS7KeqHuBlpYDSJpOEgCAcEaAm8PrY0Y"},{"name":"X-Goog-FieldMask","value":"websiteUri,nationalPhoneNumber,internationalPhoneNumber"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,464],"id":"1ce2dce3-2e25-4e22-9d07-53370b88ba8a","name":"PlaceDetail"},{"parameters":{"operation":"findOneAndReplace","collection":"places","updateKey":"place_id","fields":"=place_id, nome, tipo, endereco_completo, endereco, numero, complemento, bairro, cidade, sigla_estado, estado, cep, telefone, rating, total_avaliacoes, website, types,internationalPhoneNumber,businessStatus","upsert":true,"options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[496,288],"id":"d451837a-8692-466f-8ab2-5b823f69342b","name":"Find and replace documents","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}}],"connections":{"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Place","type":"main","index":0}]]},"Place":{"main":[[{"node":"ProcuraLugar","type":"main","index":0}]]},"Place Detail http":{"main":[[]]},"Place Detail":{"main":[[{"node":"Find and replace documents","type":"main","index":0}]]},"Separar Endereço":{"main":[[{"node":"PlaceDetail","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"NovosCampos","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"ProcuraLugar":{"main":[[{"node":"If","type":"main","index":0}]]},"NovosCampos":{"main":[[{"node":"Separar Endereço","type":"main","index":0}]]},"PlaceDetail":{"main":[[{"node":"Place Detail","type":"main","index":0}]]},"Find and replace documents":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"authors":"Joao Dias","name":"Version 3196169e","description":"","autosaved":true},"tags":[]}