n8n/[S002][SEO][Google Map Leads][01.0.0][Scanner][MongoDB][v1.1]
{"updatedAt":"2026-06-03T00:42:42.215Z","createdAt":"2025-09-08T17:37:08.090Z","id":"Ye1cyRldRpeGMy04","name":"[S002][SEO][Google Map Leads][01.0.0][Scanner][MongoDB][v1.1]","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-688,192],"id":"118371e7-06cc-4bdd-ac4a-0e801b58fce1","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-192,176],"id":"90258763-613c-46cf-9fb9-c44bcf1ddf87","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1408,192],"id":"f3b28641-cca8-4d42-a7e3-86d374b5771f"},{"parameters":{"assignments":{"assignments":[{"id":"9d932680-4b58-4e22-90b4-923847608650","name":"buscas","value":"={{ $json.busca }}","type":"string"},{"id":"0f17da03-d436-48ae-887e-b8d69db86acc","name":"tipo","value":"={{ $json.atividade }}","type":"string"},{"id":"613cecf7-3b67-4ce5-95c2-716b92df568c","name":"row_number","value":"=0","type":"number"},{"id":"640bb444-e063-46c1-a129-5e2870853b97","name":"status","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,192],"id":"665c31e3-bed4-4478-a045-2d5ff2c2ad42","name":"Campos"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[528,176],"id":"7925f915-4260-4d6b-a859-da1f34f1057b","name":"Aggregate"},{"parameters":{"workflowId":{"__rl":true,"value":"n52yP0gmh5NrCMfz","mode":"list","cachedResultUrl":"/workflow/n52yP0gmh5NrCMfz","cachedResultName":"[S002][SEO][Google Map Leads][01.1.0][SubFlow][Scanner][API][v1.1]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[320,176],"id":"75a82a71-baa7-41c7-8e80-5b9b13ebe3e1","name":"[SubFlow]Scanner Google Map v3.0 API"},{"parameters":{"assignments":{"assignments":[{"id":"94d0bd94-3030-46a9-a6f1-f5f604d49d2d","name":"busca","value":"={{ $('Campos').item.json.buscas }}","type":"string"},{"id":"f07bbcc5-2f34-4ee6-96df-9562aab4dfe9","name":"status","value":"=feito","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,176],"id":"671cede2-d7fe-4e05-a8df-5e0afe73c28d","name":"AtualizaBusca"},{"parameters":{"operation":"findOneAndUpdate","collection":"searches","updateKey":"busca","fields":"status","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[976,176],"id":"5c38157e-0961-41d9-bb77-735f63f1b215","name":"Buscas","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"collection":"searches","options":{"limit":null},"query":"{ \"municipio\":{\n    \"$in\": [\n      \"Sinop\"\n    ]\n  }, \"status\": \"não feito\", \n  \"atividade\": {\"$in\": [ \n    \"Revenda de carros\"\n  ] }\n}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-496,192],"id":"348103d3-0fb6-4e23-af0d-ac0543c4865a","name":"Find documents","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[0,0],"id":"0d3ca095-b2dc-4b37-86f3-5ebe5f6cfcc4","name":"Aggregate1"},{"parameters":{"fromEmail":"consultor@seocompany.com.br","toEmail":"joaopaulo.a.dias@gmail.com","subject":"Fim de busca de lugares","emailFormat":"text","text":"Fim de busca de lugares no Google.","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[208,0],"id":"80c9ac62-a887-43ca-ae1e-833e58327cf8","name":"Send email","webhookId":"e2333f9b-93d6-443b-818a-0ce208ed8cff","credentials":{"smtp":{"id":"i2vYhKj541hstCh3","name":"SMTP account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1184,176],"id":"0cfeb53c-fc54-4b94-9af9-57454cccc0a8","name":"Wait","webhookId":"7636133b-ba83-4da4-9f29-b8551be669bb"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Find documents","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Campos","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Campos":{"main":[[{"node":"[SubFlow]Scanner Google Map v3.0 API","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AtualizaBusca","type":"main","index":0}]]},"[SubFlow]Scanner Google Map v3.0 API":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AtualizaBusca":{"main":[[{"node":"Buscas","type":"main","index":0}]]},"Buscas":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Find documents":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"45dfe30c-5b78-442b-879e-d36237d53673","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:37:08.090Z","createdAt":"2025-09-08T17:37:08.090Z","role":"workflow:owner","workflowId":"Ye1cyRldRpeGMy04","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":null,"tags":[]}