n8n/[S002][SEO][Buscas][02.1][Bairros][v1.0]
{"updatedAt":"2025-11-24T18:18:25.124Z","createdAt":"2025-09-08T17:29:29.903Z","id":"jTEvFtABBYa02bUh","name":"[S002][SEO][Buscas][02.1][Bairros][v1.0]","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"73dce596-6413-48b0-b2b2-93ad930159ab","name":"_id","value":"={{ $json._id }}","type":"string"},{"id":"805c5aa7-b9a5-42e7-b30a-c39301155b64","name":"municipio","value":"={{ $json['municipio'] }}","type":"string"},{"id":"7fb8234a-d20c-4275-9e90-917926767759","name":"estado","value":"={{ $json.estado }}","type":"string"},{"id":"c50ecd35-994d-4808-9160-62c99f3e6237","name":"chave","value":"={{ $json.chave }}","type":"string"},{"id":"95d13bd5-4ec9-4010-8287-0b6ec637c782","name":"status","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,128],"id":"36428bb7-f4bc-44bc-a44b-5a752d2ebc6d","name":"CamposCidade"},{"parameters":{"fieldToSplitOut":"message.content.bairros","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[240,128],"id":"5d66bea1-f82c-42a4-88a4-03a33473975e","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1200,208],"id":"da2790e1-0a40-4e21-b8bc-2554253209f6"},{"parameters":{"assignments":{"assignments":[{"id":"d1ba4eb7-1426-41d0-9d7a-5ace2ba8f23d","name":"bairro","value":"={{ $json.bairro }}","type":"string"},{"id":"49140f0b-7ffe-42cb-9343-a3694010fd63","name":"genero","value":"={{ $json.genero }}","type":"string"},{"id":"687828f4-8dd4-443d-b766-ebfaeef71f87","name":"=municipio","value":"={{ $('CamposCidade').first().json.municipio }}","type":"string"},{"id":"af0d7844-2356-472f-be43-72a75a14dd2b","name":"estado","value":"={{ $('CamposCidade').first().json.estado }}","type":"string"},{"id":"cd2a3c41-0419-4dc7-8ef6-13ac8f36a53c","name":"chave","value":"={{ $json.bairro }}|{{ $('CamposCidade').first().json.municipio }}|{{ $('CamposCidade').first().json.estado }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,144],"id":"7165e1d0-fe57-4625-af8a-96822d5e980d","name":"CamposBairro"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,128],"id":"46cf2028-2fbf-4e07-923b-5f60127c4aa1","name":"Loop Bairros","executeOnce":false},{"parameters":{"workflowInputs":{"values":[{"name":"_id"},{"name":"municipio"},{"name":"estado"},{"name":"chave"},{"name":"status"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,144],"id":"17e5ff15-18f8-4a62-a1f1-af09108725fe","name":"When Executed by Another Workflow"},{"parameters":{"operation":"findOneAndUpdate","collection":"neighborhoods","updateKey":"chave","fields":"bairro, genero, municipio, estado, chave","upsert":true,"options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[960,144],"id":"503158c3-d6fb-472b-8b77-939ddada2de3","name":"Gravar Bairro","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Sua tarefa é receber o nome de uma cidade e o estado como entrada e retornar uma lista em formato JSON contendo os principais nomes dos bairros dessa cidade e um gênero associado a cada bairro. O gênero deve ser usado para determinar o pronome correto a ser usado em futuras pesquisas. Use os seguintes códigos para o gênero: 'F' para feminino, 'M' para masculino e 'N' para neutro. A resposta deve ser estritamente no formato JSON (bairro e gênero).\nFaça para {{ $json.municipio }}, {{ $json.estado }}."},{"content":"Você é um assistente especializado em retornar informações sobre bairros de cidades brasileiras.\n\n## Exemplo hipotético de resposta:\n[\n  { \"bairro\": \"Bairro A\", \"genero\": \"M\" },\n  { \"bairro\": \"Bairro B\", \"genero\": \"F\" },\n  { \"bairro\": \"Bairro C\", \"genero\": \"N\" }\n]","role":"assistant"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-112,128],"id":"51b8e039-a253-4969-9e63-ed258e0b5970","name":"Message a model","credentials":{"openAiApi":{"id":"2t2tcFf9kmZ8DSAx","name":"OpenAi account"}}}],"connections":{"CamposCidade":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Bairros","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Bairros","type":"main","index":0}]]},"CamposBairro":{"main":[[{"node":"Gravar Bairro","type":"main","index":0}]]},"Loop Bairros":{"main":[[],[{"node":"CamposBairro","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"CamposCidade","type":"main","index":0}]]},"Gravar Bairro":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a405cf6c-1a3b-4fef-a723-88ef1df2b722","activeVersionId":"a405cf6c-1a3b-4fef-a723-88ef1df2b722","triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:29:29.903Z","createdAt":"2025-09-08T17:29:29.903Z","role":"workflow:owner","workflowId":"jTEvFtABBYa02bUh","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":{"updatedAt":"2026-05-14T18:27:28.889Z","createdAt":"2026-05-14T18:27:28.889Z","versionId":"a405cf6c-1a3b-4fef-a723-88ef1df2b722","workflowId":"jTEvFtABBYa02bUh","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"73dce596-6413-48b0-b2b2-93ad930159ab","name":"_id","value":"={{ $json._id }}","type":"string"},{"id":"805c5aa7-b9a5-42e7-b30a-c39301155b64","name":"municipio","value":"={{ $json['municipio'] }}","type":"string"},{"id":"7fb8234a-d20c-4275-9e90-917926767759","name":"estado","value":"={{ $json.estado }}","type":"string"},{"id":"c50ecd35-994d-4808-9160-62c99f3e6237","name":"chave","value":"={{ $json.chave }}","type":"string"},{"id":"95d13bd5-4ec9-4010-8287-0b6ec637c782","name":"status","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,128],"id":"36428bb7-f4bc-44bc-a44b-5a752d2ebc6d","name":"CamposCidade"},{"parameters":{"fieldToSplitOut":"message.content.bairros","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[240,128],"id":"5d66bea1-f82c-42a4-88a4-03a33473975e","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1200,208],"id":"da2790e1-0a40-4e21-b8bc-2554253209f6"},{"parameters":{"assignments":{"assignments":[{"id":"d1ba4eb7-1426-41d0-9d7a-5ace2ba8f23d","name":"bairro","value":"={{ $json.bairro }}","type":"string"},{"id":"49140f0b-7ffe-42cb-9343-a3694010fd63","name":"genero","value":"={{ $json.genero }}","type":"string"},{"id":"687828f4-8dd4-443d-b766-ebfaeef71f87","name":"=municipio","value":"={{ $('CamposCidade').first().json.municipio }}","type":"string"},{"id":"af0d7844-2356-472f-be43-72a75a14dd2b","name":"estado","value":"={{ $('CamposCidade').first().json.estado }}","type":"string"},{"id":"cd2a3c41-0419-4dc7-8ef6-13ac8f36a53c","name":"chave","value":"={{ $json.bairro }}|{{ $('CamposCidade').first().json.municipio }}|{{ $('CamposCidade').first().json.estado }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,144],"id":"7165e1d0-fe57-4625-af8a-96822d5e980d","name":"CamposBairro"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,128],"id":"46cf2028-2fbf-4e07-923b-5f60127c4aa1","name":"Loop Bairros","executeOnce":false},{"parameters":{"workflowInputs":{"values":[{"name":"_id"},{"name":"municipio"},{"name":"estado"},{"name":"chave"},{"name":"status"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,144],"id":"17e5ff15-18f8-4a62-a1f1-af09108725fe","name":"When Executed by Another Workflow"},{"parameters":{"operation":"findOneAndUpdate","collection":"neighborhoods","updateKey":"chave","fields":"bairro, genero, municipio, estado, chave","upsert":true,"options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[960,144],"id":"503158c3-d6fb-472b-8b77-939ddada2de3","name":"Gravar Bairro","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Sua tarefa é receber o nome de uma cidade e o estado como entrada e retornar uma lista em formato JSON contendo os principais nomes dos bairros dessa cidade e um gênero associado a cada bairro. O gênero deve ser usado para determinar o pronome correto a ser usado em futuras pesquisas. Use os seguintes códigos para o gênero: 'F' para feminino, 'M' para masculino e 'N' para neutro. A resposta deve ser estritamente no formato JSON (bairro e gênero).\nFaça para {{ $json.municipio }}, {{ $json.estado }}."},{"content":"Você é um assistente especializado em retornar informações sobre bairros de cidades brasileiras.\n\n## Exemplo hipotético de resposta:\n[\n  { \"bairro\": \"Bairro A\", \"genero\": \"M\" },\n  { \"bairro\": \"Bairro B\", \"genero\": \"F\" },\n  { \"bairro\": \"Bairro C\", \"genero\": \"N\" }\n]","role":"assistant"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-112,128],"id":"51b8e039-a253-4969-9e63-ed258e0b5970","name":"Message a model","credentials":{"openAiApi":{"id":"2t2tcFf9kmZ8DSAx","name":"OpenAi account"}}}],"connections":{"CamposCidade":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Bairros","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Bairros","type":"main","index":0}]]},"CamposBairro":{"main":[[{"node":"Gravar Bairro","type":"main","index":0}]]},"Loop Bairros":{"main":[[],[{"node":"CamposBairro","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"CamposCidade","type":"main","index":0}]]},"Gravar Bairro":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}