n8n/[S002][SEO][Buscas][03][Atividades][v1.0]
{"updatedAt":"2025-11-24T18:17:23.437Z","createdAt":"2025-09-08T17:30:40.491Z","id":"pAYkxcvvfA5Opdi1","name":"[S002][SEO][Buscas][03][Atividades][v1.0]","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[112,-144],"id":"a578695c-b7fb-408e-b038-811fd9895115","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,-144],"id":"84d97136-69d8-4a5c-b648-edcdae10183c","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1472,64],"id":"97de33cc-0819-49b3-aa1f-0e948d5d1bca"},{"parameters":{"assignments":{"assignments":[{"id":"7f6d617b-29e1-4f18-abb8-d1e12c7011d9","name":"nome","value":"={{ $json.Buscas }}","type":"string"},{"id":"3f971c3a-ac8e-4ea6-812b-8861e0fe1713","name":"ativa","value":"V","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-64],"id":"31c9821d-e569-4fd4-908a-b8937ccefb04","name":"Campos"},{"parameters":{"documentId":{"__rl":true,"value":"1sqtHiIQjFJOA45FHUOlrG7c246ppcoKmjArFmmgTk2Q","mode":"list","cachedResultName":"Atividades_Foco","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sqtHiIQjFJOA45FHUOlrG7c246ppcoKmjArFmmgTk2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":643428191,"mode":"list","cachedResultName":"Palavras-chave","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sqtHiIQjFJOA45FHUOlrG7c246ppcoKmjArFmmgTk2Q/edit#gid=643428191"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[384,-144],"id":"ff49ce31-d223-490b-bbc4-d75d27702b6e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"IjfXx5st4tyc0jHF","name":"Google Sheets account"}}},{"parameters":{"operation":"findOneAndUpdate","collection":"activities","updateKey":"nome","fields":"nome, ativa","upsert":true,"options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1216,-16],"id":"1dcad42c-afb9-453f-84ce-1a8572b320de","name":"activities","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Campos","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Campos":{"main":[[{"node":"activities","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"activities":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2fb0fc10-b8dd-4d87-a84d-0607980c3d18","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:30:40.491Z","createdAt":"2025-09-08T17:30:40.491Z","role":"workflow:owner","workflowId":"pAYkxcvvfA5Opdi1","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":null,"tags":[]}