n8n/[S002][SEO][Buscas][02.0][Bairros][v1.0]
{"updatedAt":"2026-04-07T17:41:00.120Z","createdAt":"2025-09-08T17:30:12.232Z","id":"TB6j0SRXwGtPk3eA","name":"[S002][SEO][Buscas][02.0][Bairros][v1.0]","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"41d78f40-7c44-40f2-9458-6adcd23661f4","name":"When clicking ‘Test workflow’"},{"parameters":{"collection":"cities","options":{},"query":"{\"status\":\"inicial\"}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[224,0],"id":"30315c27-8d79-4af7-addc-e353c9885918","name":"MongoDB","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"assignments":{"assignments":[{"id":"73dce596-6413-48b0-b2b2-93ad930159ab","name":"_id","value":"={{ $json._id }}","type":"string"},{"id":"805c5aa7-b9a5-42e7-b30a-c39301155b64","name":"municipio","value":"={{ $json['municipio'] }}","type":"string"},{"id":"7fb8234a-d20c-4275-9e90-917926767759","name":"estado","value":"={{ $json.estado }}","type":"string"},{"id":"c50ecd35-994d-4808-9160-62c99f3e6237","name":"chave","value":"={{ $json.chave }}","type":"string"},{"id":"95d13bd5-4ec9-4010-8287-0b6ec637c782","name":"status","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,48],"id":"c8ac7ffb-66fa-447a-be07-51fd56e77b50","name":"CamposCidade"},{"parameters":{"assignments":{"assignments":[{"id":"17c40521-f5d1-458d-bd4a-c3dadb805744","name":"_id","value":"={{ $('CamposCidade').first().json._id }}","type":"string"},{"id":"b4fe972a-79b0-4705-a487-72fa95dcf15a","name":"município","value":"={{ $('CamposCidade').first().json['municipio'] }}","type":"string"},{"id":"18a39a9c-678a-46c4-890d-0b9aa2338a01","name":"estado","value":"={{ $('CamposCidade').first().json.estado }}","type":"string"},{"id":"e72a66a7-5f32-4fd0-ad1e-6a1ae133e02f","name":"chave","value":"={{ $('CamposCidade').first().json.chave }}","type":"string"},{"id":"3604d646-22b7-4a3a-8f89-8d73a5f6db8b","name":"status","value":"inicializado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,32],"id":"d4ae13f3-a2ad-404a-956c-7f5b24e56181","name":"AtualizaCidade"},{"parameters":{"operation":"update","collection":"cities","updateKey":"chave","fields":"status","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1648,32],"id":"dd81a782-4f70-46d8-9da2-2f0cc0193d79","name":"MongoDB1","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0],"id":"ae4b523a-7fc6-49e3-9ad3-c08ccdc2c191","name":"Loop Cidade"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1248,32],"id":"916359b3-c4ef-4c93-aff3-cc635caf9b99","name":"Aggregate"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1904,144],"id":"9575099c-6284-4e4d-b8c4-5e99bafb86a1","name":"Wait","webhookId":"fc9db982-5e32-46d9-94a7-15db7dee666f"},{"parameters":{"workflowId":{"__rl":true,"value":"soljVSiuaDCTbwvv","mode":"list","cachedResultName":"[S002][SEO][v1.0][Buscas][02.1][Bairros]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"_id":"={{ $json._id }}","municipio":"={{ $json.municipio }}","estado":"={{ $json.estado }}","chave":"={{ $json.chave }}","status":"={{ $json.status }}"},"matchingColumns":[],"schema":[{"id":"_id","displayName":"_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"municipio","displayName":"municipio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chave","displayName":"chave","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[960,48],"id":"1bff0e54-d664-4e9b-a3f3-56d02c64e941","name":"Execute Workflow"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Loop Cidade","type":"main","index":0}]]},"CamposCidade":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"AtualizaCidade":{"main":[[{"node":"MongoDB1","type":"main","index":0}]]},"MongoDB1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Cidade":{"main":[[],[{"node":"CamposCidade","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AtualizaCidade","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Cidade","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"362405d1-49bb-43c8-9258-87d870223f8e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:30:12.232Z","createdAt":"2025-09-08T17:30:12.232Z","role":"workflow:owner","workflowId":"TB6j0SRXwGtPk3eA","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":null,"tags":[]}