n8n/[S002][SEO][Google Map Leads][03.00.02][Enviar Texto][ZAPI][Depreciada][v1.1]
{"updatedAt":"2025-11-24T18:57:52.169Z","createdAt":"2025-09-09T18:38:53.350Z","id":"sdf1nckzGEUPJuaY","name":"[S002][SEO][Google Map Leads][03.00.02][Enviar Texto][ZAPI][Depreciada][v1.1]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"numero"},{"name":"texto"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"6a02743f-a83c-4ba0-84af-2a19bf0ec7bb","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"844283ca-c78f-4b30-8276-540932574b00","name":"executed","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,16],"id":"ba318d21-7973-440e-89c2-41196d4ff33c","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/{{ $json.instanciaZapi }}/token/{{ $json.tokenZapi }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"={{ $json.securiteZapi }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.numero }}"},{"name":"message","value":"={{ $json.texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-80],"id":"10ad397c-dda2-4e1f-874c-a07eaaf2ba1e","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"f0609fc6-5c10-47e9-ba19-0ffa5afa06ff","name":"instanciaZapi","value":"3E6EFF65AD69403F3EF8D6AE34C26F0F","type":"string"},{"id":"1233f876-3e39-4a90-9757-c8b6c5167b92","name":"tokenZapi","value":"697C1009594CB2830C0EC1BC","type":"string"},{"id":"41fec80a-6458-4aef-82f2-740c2df4cb8e","name":"securiteZapi","value":"Faf523ffa883447edaf9ad761b36df7acS","type":"string"},{"id":"0cf3be9d-211e-40fd-ad30-6981d0f7be47","name":"numero","value":"={{ $json.numero }}","type":"string"},{"id":"20eb61fd-cffd-4792-a487-d25a889b91e1","name":"texto","value":"={{ $json.texto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-80],"id":"dfec09f8-1641-4122-a68e-0105a02e8741","name":"Variaveis"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Variaveis","type":"main","index":0}]]},"Variaveis":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a7044123-04f4-43ea-bd86-a8808875d954","activeVersionId":"a7044123-04f4-43ea-bd86-a8808875d954","triggerCount":0,"shared":[{"updatedAt":"2025-09-09T18:38:53.350Z","createdAt":"2025-09-09T18:38:53.350Z","role":"workflow:owner","workflowId":"sdf1nckzGEUPJuaY","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":{"updatedAt":"2026-05-14T18:27:28.889Z","createdAt":"2026-05-14T18:27:28.889Z","versionId":"a7044123-04f4-43ea-bd86-a8808875d954","workflowId":"sdf1nckzGEUPJuaY","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"numero"},{"name":"texto"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"6a02743f-a83c-4ba0-84af-2a19bf0ec7bb","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"844283ca-c78f-4b30-8276-540932574b00","name":"executed","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,16],"id":"ba318d21-7973-440e-89c2-41196d4ff33c","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/{{ $json.instanciaZapi }}/token/{{ $json.tokenZapi }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"={{ $json.securiteZapi }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.numero }}"},{"name":"message","value":"={{ $json.texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-80],"id":"10ad397c-dda2-4e1f-874c-a07eaaf2ba1e","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"f0609fc6-5c10-47e9-ba19-0ffa5afa06ff","name":"instanciaZapi","value":"3E6EFF65AD69403F3EF8D6AE34C26F0F","type":"string"},{"id":"1233f876-3e39-4a90-9757-c8b6c5167b92","name":"tokenZapi","value":"697C1009594CB2830C0EC1BC","type":"string"},{"id":"41fec80a-6458-4aef-82f2-740c2df4cb8e","name":"securiteZapi","value":"Faf523ffa883447edaf9ad761b36df7acS","type":"string"},{"id":"0cf3be9d-211e-40fd-ad30-6981d0f7be47","name":"numero","value":"={{ $json.numero }}","type":"string"},{"id":"20eb61fd-cffd-4792-a487-d25a889b91e1","name":"texto","value":"={{ $json.texto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-80],"id":"dfec09f8-1641-4122-a68e-0105a02e8741","name":"Variaveis"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Variaveis","type":"main","index":0}]]},"Variaveis":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}