n8n/[S002][SEO][Buscas][04.1][Buscas][v1.0]
{"updatedAt":"2026-06-03T00:39:16.065Z","createdAt":"2025-09-08T17:33:12.486Z","id":"4yo4UEhT18mGr0fP","name":"[S002][SEO][Buscas][04.1][Buscas][v1.0]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"atividade"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1584,96],"id":"35275243-529b-4b24-8fe4-99bd085bdabc","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1136,96],"id":"8bd58256-2ca8-4abd-a097-6d4500470ed1","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"69535df4-a49e-4230-acef-852edf89e615","name":"chave_bairro","value":"={{ $json.chave }}","type":"string"},{"id":"d55ac328-38d6-4eed-8b0b-7f83068b37cc","name":"bairro","value":"={{ $json.bairro }}","type":"string"},{"id":"0776ef1d-1d54-4d5b-8349-e79a8cfaf36b","name":"estado","value":"={{ $json.estado }}","type":"string"},{"id":"00047533-ea22-4262-be92-47e878569545","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"dca62261-bfd0-49ba-bb4a-3e446b5e397d","name":"genero","value":"={{ $json.genero }}","type":"string"},{"id":"47583548-b47b-4f6a-b167-3209db4190fa","name":"atividade","value":"={{ $('When Executed by Another Workflow').first().json.atividade }}","type":"string"},{"id":"f226cbd3-e296-4003-9d8e-2fd6cad2dc4f","name":"chave","value":"={{ $('When Executed by Another Workflow').first().json.atividade }}|{{ $json.chave }}","type":"string"},{"id":"faa06da5-57bb-498c-bd50-fbc2b4704381","name":"status","value":"não feito","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,128],"id":"5ab9e2f0-d723-4720-9133-cae8070f55ea","name":"Campos"},{"parameters":{"jsCode":"// Loop sobre os itens de entrada e constrói a sentença\nfor (const item of $input.all()) {\n  const atividade = item.json.atividade;\n  const genero = item.json.genero;\n  const bairro = item.json.bairro;\n  const cidade = item.json.municipio;\n  const estado = item.json.estado;\n  let preposicao = \"em\";\n\n  // Define a preposição com base no gênero\n  if (genero === \"M\") {\n    preposicao = \"no\";\n  } else if (genero === \"F\") {\n    preposicao = \"na\";\n  }\n\n  // Constrói a sentença\n  item.json.busca = `${atividade} ${preposicao} ${bairro} ${cidade}-${estado}`;\n}\n\n// Retorna os itens modificados\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,128],"id":"c1318a8d-3827-414b-aa05-64e4e387aaf5","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"78a7cdb1-6ede-4f52-919c-2f1d0a2947bf","name":"bairro","value":"={{ $('Code').item.json.bairro }}","type":"string"},{"id":"ece9f017-bbf0-4def-83fe-73b9c865cc62","name":"estado","value":"={{ $('Code').item.json.estado }}","type":"string"},{"id":"834f5ba9-35aa-415b-a26b-bf3bc2e4faad","name":"municipio","value":"={{ $('Code').item.json.municipio }}","type":"string"},{"id":"6dab043e-8f4a-4254-ab95-4cd2b9473ee6","name":"atividade","value":"={{ $('Code').item.json.atividade }}","type":"string"},{"id":"1c279c2a-504f-49ac-8949-1263a03070e8","name":"chave","value":"={{ $('Code').item.json.chave }}","type":"string"},{"id":"405346fb-51c0-48e9-b376-26e260060929","name":"status","value":"={{ $('Code').item.json.status }}","type":"string"},{"id":"437d3a3f-e8a1-422e-b0b0-195b9f17344e","name":"busca","value":"={{ $('Code').item.json.busca }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"ce82b9db-a5b4-461a-89b7-a772151ecefe","name":"NovosCampos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc815bc6-fb57-461e-8377-cd48e1f0652a","leftValue":"={{ $('ProcuraBusca').item.json}}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,128],"id":"b0f3755e-c302-4bb9-b0dc-01fe3f1fc948","name":"NaoCadastrado"},{"parameters":{"operation":"insert","collection":"searches","fields":"bairro, estado, municipio, atividade, chave, status, busca","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[288,0],"id":"ba974a43-e4a2-4ef3-99b4-266c32c10ce1","name":"InserirNovaBusca","alwaysOutputData":false,"credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"collection":"searches","options":{},"query":"={\"chave\":\"{{ $json.chave }}\"}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-448,128],"id":"8778b008-2828-4dcd-916a-ffeec98dc0d7","name":"ProcuraBusca","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[160,208],"id":"66a7b25b-199d-4da5-a87a-64399d49ac97","name":"Wait","webhookId":"aa1e65fd-b138-4e61-a352-33fc13d8b59d"},{"parameters":{"collection":"neighborhoods","options":{},"query":"{\n  \"estado\": \"MT\", \"municipio\": \"Sinop\"\n}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-1360,96],"id":"16ffa858-6671-4d0e-b2f3-a7214d682155","name":"Find documents","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[528,240],"id":"e6cc476a-afe8-4cb8-9fe5-39cb153cfc0b","name":"Wait1","webhookId":"aa1e65fd-b138-4e61-a352-33fc13d8b59d"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-912,-160],"id":"c64cbb5d-a6c4-4c02-b9a8-a3bebcf51d0d","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"123c0592-f6e7-4152-8280-d14bdbcff1fe","name":"success","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,-160],"id":"9f53f259-0983-40f2-94f2-2651ed7a340d","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Find documents","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Campos","type":"main","index":0}]]},"Campos":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"ProcuraBusca","type":"main","index":0}]]},"NovosCampos":{"main":[[{"node":"InserirNovaBusca","type":"main","index":0}]]},"NaoCadastrado":{"main":[[{"node":"NovosCampos","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"InserirNovaBusca":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"ProcuraBusca":{"main":[[{"node":"NaoCadastrado","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Find documents":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"atividade":"Loja de Roupa Feminina"}}]},"versionId":"0ac3126f-d9d2-4925-ac59-fc41b64982ba","activeVersionId":"0ac3126f-d9d2-4925-ac59-fc41b64982ba","triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:33:12.486Z","createdAt":"2025-09-08T17:33:12.486Z","role":"workflow:owner","workflowId":"4yo4UEhT18mGr0fP","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":{"updatedAt":"2026-06-03T00:39:37.992Z","createdAt":"2026-06-03T00:39:16.069Z","versionId":"0ac3126f-d9d2-4925-ac59-fc41b64982ba","workflowId":"4yo4UEhT18mGr0fP","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"atividade"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1584,96],"id":"35275243-529b-4b24-8fe4-99bd085bdabc","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1136,96],"id":"8bd58256-2ca8-4abd-a097-6d4500470ed1","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"69535df4-a49e-4230-acef-852edf89e615","name":"chave_bairro","value":"={{ $json.chave }}","type":"string"},{"id":"d55ac328-38d6-4eed-8b0b-7f83068b37cc","name":"bairro","value":"={{ $json.bairro }}","type":"string"},{"id":"0776ef1d-1d54-4d5b-8349-e79a8cfaf36b","name":"estado","value":"={{ $json.estado }}","type":"string"},{"id":"00047533-ea22-4262-be92-47e878569545","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"dca62261-bfd0-49ba-bb4a-3e446b5e397d","name":"genero","value":"={{ $json.genero }}","type":"string"},{"id":"47583548-b47b-4f6a-b167-3209db4190fa","name":"atividade","value":"={{ $('When Executed by Another Workflow').first().json.atividade }}","type":"string"},{"id":"f226cbd3-e296-4003-9d8e-2fd6cad2dc4f","name":"chave","value":"={{ $('When Executed by Another Workflow').first().json.atividade }}|{{ $json.chave }}","type":"string"},{"id":"faa06da5-57bb-498c-bd50-fbc2b4704381","name":"status","value":"não feito","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,128],"id":"5ab9e2f0-d723-4720-9133-cae8070f55ea","name":"Campos"},{"parameters":{"jsCode":"// Loop sobre os itens de entrada e constrói a sentença\nfor (const item of $input.all()) {\n  const atividade = item.json.atividade;\n  const genero = item.json.genero;\n  const bairro = item.json.bairro;\n  const cidade = item.json.municipio;\n  const estado = item.json.estado;\n  let preposicao = \"em\";\n\n  // Define a preposição com base no gênero\n  if (genero === \"M\") {\n    preposicao = \"no\";\n  } else if (genero === \"F\") {\n    preposicao = \"na\";\n  }\n\n  // Constrói a sentença\n  item.json.busca = `${atividade} ${preposicao} ${bairro} ${cidade}-${estado}`;\n}\n\n// Retorna os itens modificados\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,128],"id":"c1318a8d-3827-414b-aa05-64e4e387aaf5","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"78a7cdb1-6ede-4f52-919c-2f1d0a2947bf","name":"bairro","value":"={{ $('Code').item.json.bairro }}","type":"string"},{"id":"ece9f017-bbf0-4def-83fe-73b9c865cc62","name":"estado","value":"={{ $('Code').item.json.estado }}","type":"string"},{"id":"834f5ba9-35aa-415b-a26b-bf3bc2e4faad","name":"municipio","value":"={{ $('Code').item.json.municipio }}","type":"string"},{"id":"6dab043e-8f4a-4254-ab95-4cd2b9473ee6","name":"atividade","value":"={{ $('Code').item.json.atividade }}","type":"string"},{"id":"1c279c2a-504f-49ac-8949-1263a03070e8","name":"chave","value":"={{ $('Code').item.json.chave }}","type":"string"},{"id":"405346fb-51c0-48e9-b376-26e260060929","name":"status","value":"={{ $('Code').item.json.status }}","type":"string"},{"id":"437d3a3f-e8a1-422e-b0b0-195b9f17344e","name":"busca","value":"={{ $('Code').item.json.busca }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"ce82b9db-a5b4-461a-89b7-a772151ecefe","name":"NovosCampos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc815bc6-fb57-461e-8377-cd48e1f0652a","leftValue":"={{ $('ProcuraBusca').item.json}}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,128],"id":"b0f3755e-c302-4bb9-b0dc-01fe3f1fc948","name":"NaoCadastrado"},{"parameters":{"operation":"insert","collection":"searches","fields":"bairro, estado, municipio, atividade, chave, status, busca","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[288,0],"id":"ba974a43-e4a2-4ef3-99b4-266c32c10ce1","name":"InserirNovaBusca","alwaysOutputData":false,"credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"collection":"searches","options":{},"query":"={\"chave\":\"{{ $json.chave }}\"}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-448,128],"id":"8778b008-2828-4dcd-916a-ffeec98dc0d7","name":"ProcuraBusca","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[160,208],"id":"66a7b25b-199d-4da5-a87a-64399d49ac97","name":"Wait","webhookId":"aa1e65fd-b138-4e61-a352-33fc13d8b59d"},{"parameters":{"collection":"neighborhoods","options":{},"query":"{\n  \"estado\": \"MT\", \"municipio\": \"Sinop\"\n}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-1360,96],"id":"16ffa858-6671-4d0e-b2f3-a7214d682155","name":"Find documents","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[528,240],"id":"e6cc476a-afe8-4cb8-9fe5-39cb153cfc0b","name":"Wait1","webhookId":"aa1e65fd-b138-4e61-a352-33fc13d8b59d"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-912,-160],"id":"c64cbb5d-a6c4-4c02-b9a8-a3bebcf51d0d","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"123c0592-f6e7-4152-8280-d14bdbcff1fe","name":"success","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,-160],"id":"9f53f259-0983-40f2-94f2-2651ed7a340d","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Find documents","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Campos","type":"main","index":0}]]},"Campos":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"ProcuraBusca","type":"main","index":0}]]},"NovosCampos":{"main":[[{"node":"InserirNovaBusca","type":"main","index":0}]]},"NaoCadastrado":{"main":[[{"node":"NovosCampos","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"InserirNovaBusca":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"ProcuraBusca":{"main":[[{"node":"NaoCadastrado","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Find documents":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"Joao Dias","name":"Version 0ac3126f","description":"","autosaved":true},"tags":[]}