n8n/[S002][SEO][Google Map Leads][02.00.00][Place Picker][v1.1]
{"updatedAt":"2025-12-03T11:31:55.626Z","createdAt":"2025-09-08T17:46:33.704Z","id":"nSz5d3OgF15wgyi6","name":"[S002][SEO][Google Map Leads][02.00.00][Place Picker][v1.1]","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1536,80],"id":"117fd5df-c900-4049-8f14-4c2ad63bfdc4","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1104,80],"id":"fb058960-3042-4573-87c8-ead5d9b28774","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[960,112],"id":"427eb0aa-ecf7-4b34-95e7-a1454da554e2"},{"parameters":{"assignments":{"assignments":[{"id":"be8e396e-995b-4c53-a1f0-8cb7ca2dcc1a","name":"place_id","value":"={{ $json.place_id }}","type":"string"},{"id":"018a99f6-e2b0-4def-aeb2-11ce72259157","name":"tipo","value":"={{ $json.tipo }}","type":"string"},{"id":"da4f09f0-3ee7-4f1d-98d9-a9aa786e9076","name":"telefone","value":"={{ $json.telefone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,112],"id":"91b7e382-e336-4d05-98c7-77a8765418de","name":"Campos"},{"parameters":{"collection":"places_contacts","options":{},"query":"={\"numWhatsApp\":\"{{ $json.numWhatsApp }}\"}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-448,112],"id":"f43d7397-a66b-47b6-870f-c09f664a79ae","name":"MongoDB Contacts","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b20a0f3-2bf8-4d4e-aeb2-360b0b7bef30","leftValue":"={{ $('MongoDB Contacts').first().json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,112],"id":"4a4a905d-3222-489c-b1aa-0f2421312ec1","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"952bc890-db66-4a84-8951-02390f9e346a","name":"numWhatsApp","value":"={{ $('FormatarNumeroWhatsApp').item.json.numWhatsApp }}","type":"string"},{"id":"4b29fbc8-6154-42b4-9bc4-c183cc338228","name":"telefone","value":"={{ $('FormatarNumeroWhatsApp').item.json.telefone }}","type":"string"},{"id":"bc9d50e9-b635-483c-96a7-4a239a65d620","name":"tipo","value":"={{ $('FormatarNumeroWhatsApp').item.json.tipo }}","type":"string"},{"id":"fb48fcf7-7a10-4a19-9ff0-d3d654d46934","name":"place_id","value":"={{ $('FormatarNumeroWhatsApp').item.json.place_id }}","type":"string"},{"id":"8b287254-039c-44b9-a0fd-7481072ff0d5","name":"dt_ocorrencia","value":"={{ $now.toISO() }}","type":"string"},{"id":"cda65b3d-9b86-460f-a6c5-02b5b3a2afb1","name":"dt_ult_alteracao","value":"={{ $now.toISO() }}","type":"string"},{"id":"4d2134df-eda1-4852-b31c-b0a2430ff569","name":"status","value":"não iniciado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"4ea5a948-6269-43d0-a407-75a41e97a409","name":"Contact"},{"parameters":{"operation":"insert","collection":"places_contacts","fields":"numWhatsApp,telefone,tipo,place_id,dt_ocorrencia,dt_ult_alteracao,status","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[256,0],"id":"7a236f28-ae7d-403b-b140-c59e6d31a079","name":"Inserir Contato","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"assignments":{"assignments":[{"id":"5edb9093-59b6-4f08-8c89-8b5d6e2a13e3","name":"numWhatsApp","value":"={{ $json.numWhatsApp }}","type":"string"},{"id":"18fc1d79-5b34-4143-9d20-5931165be570","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"f7755a25-fe26-4bb3-9348-3a948859b758","name":"dt_ocorrencia","value":"={{ $json.dt_ocorrencia }}","type":"string"},{"id":"1dcbd35d-2ed0-485f-8ec7-68a80d89efc7","name":"dt_ult_alteracao","value":"={{ $json.dt_ult_alteracao }}","type":"string"},{"id":"2342c581-cb6c-4a69-b242-cb2bc846ac06","name":"contador","value":0,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,0],"id":"3695db24-4080-4631-8b4f-294cd99a1480","name":"Edit Fields"},{"parameters":{"operation":"insert","collection":"places_chat_status","fields":"=numWhatsApp,dt_ocorrencia,dt_ult_alteracao,status,contador","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[704,0],"id":"ce4f8ddc-9127-4c23-babb-a826a8882108","name":"MongoDB1","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"jsCode":"function formatPhoneNumber(phoneNumber) {\n  if (phoneNumber == null) {\n    return \"\";\n  }\n  // Remove todos os caracteres não numéricos\n  const cleanedNumber = phoneNumber.replace(/\\D/g, '');\n  \n  // Verifica se o número já está no formato internacional\n  if (cleanedNumber.startsWith('55')) {\n    return cleanedNumber;\n  }\n  \n  // Adiciona o código do Brasil (55) antes do número\n  return `55${cleanedNumber}`;\n}\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  num = item.json.telefone;\n  item.json.numWhatsApp = formatPhoneNumber(num);\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,112],"id":"64a2272e-ed4b-4b7e-8c78-0860f01e31d3","name":"FormatarNumeroWhatsApp"},{"parameters":{"collection":"places","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-1328,80],"id":"e3812743-ec05-4424-95ed-6ea79f0562d3","name":"Find documents","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Find documents","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Campos","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Campos":{"main":[[{"node":"FormatarNumeroWhatsApp","type":"main","index":0}]]},"MongoDB Contacts":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Contact","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Contact":{"main":[[{"node":"Inserir Contato","type":"main","index":0}]]},"Inserir Contato":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"MongoDB1","type":"main","index":0}]]},"MongoDB1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"FormatarNumeroWhatsApp":{"main":[[{"node":"MongoDB Contacts","type":"main","index":0}]]},"Find documents":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1d5bb396-f2c8-4852-be43-03bd5be40051","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:46:33.704Z","createdAt":"2025-09-08T17:46:33.704Z","role":"workflow:owner","workflowId":"nSz5d3OgF15wgyi6","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":null,"tags":[]}