n8n/[S002][SEO][Google Map Leads][02.01.01][Extract E-mail][v1.0]
{"updatedAt":"2025-12-03T15:35:37.572Z","createdAt":"2025-12-03T11:34:35.171Z","id":"1kkvy1bmfWLqNqQo","name":"[S002][SEO][Google Map Leads][02.01.01][Extract E-mail][v1.0]","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,16],"id":"4711ff01-75c8-40db-ac3a-348c03f6fc9e","name":"HTTP Request"},{"parameters":{"jsCode":"const data = $json.data \n\nconst emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/ \n\nemails = data.match(emailRegex) \nconsole.log(emails) \n\nreturn {json: {emails:emails}} "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,256],"id":"115fff38-52de-455d-a52d-3a708794f610","name":"Code"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"emails","options":{"disableDotNotation":true}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[880,16],"id":"58a2fb8e-e20d-4960-ad62-ac20d4ddc8d9","name":"Remove Duplicates","alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,16],"id":"ab179e0c-8674-4f30-b476-43c04e8f6aac","name":"Split Out"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const data = item.json.data;\n  const emailRegex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/; \n  \n  emails = data.match(emailRegex);\n  console.log(emails);\n\n  \n}\n\nreturn {json: {emails:emails}};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,16],"id":"a0ece6f8-5cdd-4b5c-a745-53dda69f876d","name":"ObterEmail"},{"parameters":{"workflowInputs":{"values":[{"name":"url"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"6fc7f658-e4d0-4f51-955f-82ad2fb56b23","name":"When Executed by Another Workflow"}],"connections":{"HTTP Request":{"main":[[{"node":"ObterEmail","type":"main","index":0}]]},"Code":{"main":[[]]},"Split Out":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"ObterEmail":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Remove Duplicates":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"url":"http://www.sosalimentos.com.br/"}}]},"versionId":"c7de355d-8081-4add-b9b2-6b236f9c4139","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T11:34:35.171Z","createdAt":"2025-12-03T11:34:35.171Z","role":"workflow:owner","workflowId":"1kkvy1bmfWLqNqQo","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":null,"tags":[]}