n8n/[S002][SEO][Google Map Leads][03][Customer Caller][Depreciado][v1.1]
{"updatedAt":"2025-11-24T18:58:25.647Z","createdAt":"2025-09-08T17:50:48.026Z","id":"xCC6lav8ylyfhjiu","name":"[S002][SEO][Google Map Leads][03][Customer Caller][Depreciado][v1.1]","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1520,832],"id":"b1ed1ac2-3b1a-4b3d-8346-1724d7f28721","name":"When clicking ‘Test workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de72c754-3020-44ea-a3af-0159473b373d","leftValue":"={{ $now.format('HH').toNumber() }}","rightValue":8,"operator":{"type":"number","operation":"gte"}},{"id":"66269409-b00e-44e5-9d25-4f09525f7ac5","leftValue":"={{ $now.format('HH').toNumber() }}","rightValue":17,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,832],"id":"baee869b-2bcf-4435-8e03-dcc78475073d","name":"Se horário"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-592,720],"id":"cfaabd0e-39cf-4605-9bbe-b946cf790816","name":"Loop Over Items"},{"parameters":{"content":"## Não Iniciados\n","height":604,"width":2340},"type":"n8n-nodes-base.stickyNote","position":[-656,656],"typeVersion":1,"id":"96b05ba4-9aae-4255-9ebe-350d5264e406","name":"Sticky Note"},{"parameters":{"phoneNumberId":"636510329553520","recipientPhoneNumber":"={{ $json.numWhatsApp }}","template":"iniciar_conversa_20250717|pt_BR"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-288,-32],"id":"97df17a0-0c04-4837-ace1-1c4afb874a5b","name":"WhatsApp Business Cloud","webhookId":"22b812fc-437f-4aa5-b35c-811fdd839db9","credentials":{"whatsAppApi":{"id":"A3Z5JqBMHOJmLJNJ","name":"WhatsApp Correios"}}},{"parameters":{"assignments":{"assignments":[{"id":"0e25d12b-fb22-4564-a17d-7b93b9cb3f43","name":"_id","value":"={{ $json._id }}","type":"string"},{"id":"08f15f16-9b68-4d14-a764-c551d78d07e6","name":"dt_ult_alteracao","value":"={{ $('Contact').item.json.dt_ult_alteracao }}","type":"string"},{"id":"00570d9d-82ce-4312-bf66-0f694bda9ea0","name":"status","value":"=iniciado","type":"string"},{"id":"0c8d50e5-848d-4ab0-9464-0e9d5e2baed5","name":"numWhatsApp","value":"={{ $('Contact').item.json.numWhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,736],"id":"85463c49-90da-4fd3-9fdd-f61819d4459c","name":"Chat"},{"parameters":{"assignments":{"assignments":[{"id":"506e8a1b-990d-4264-bf61-0d6b5e287e5c","name":"_id","value":"={{ $('Loop Over Items').item.json._id }}","type":"string"},{"id":"24dae7fb-3162-4b9c-97f1-0030955d91da","name":"numWhatsApp","value":"={{ $('Loop Over Items').item.json.numWhatsApp }}","type":"string"},{"id":"5dfe69e6-d180-4779-b55a-2bc939b94254","name":"dt_ult_alteracao","value":"={{ $now.toISO() }}","type":"string"},{"id":"bfe5c585-82ad-453e-9cf5-3ebfc0fcbb39","name":"status","value":"=iniciado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,736],"id":"8f87fcc2-cdf7-425b-8ae6-80492eda6848","name":"Contact"},{"parameters":{"operation":"findOneAndUpdate","collection":"places_contacts","updateKey":"numWhatsApp","fields":"dt_ult_alteracao,status","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[672,736],"id":"aac59f55-c8e2-447f-ace4-891138657af8","name":"MongoDB Contact Updade","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"collection":"places_chat_status","options":{},"query":"={\"numWhatsApp\": \"{{ $('Contact').item.json.numWhatsApp }}\"} "},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[832,736],"id":"45121424-ee60-4c79-b43c-1e7dd302dc32","name":"MongoDB Chat Find","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"operation":"update","collection":"places_chat_status","updateKey":"=numWhatsApp","fields":"dt_ult_alteracao,status","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1136,736],"id":"8fb7ef81-9731-43fa-a89a-8d04a8a74dd4","name":"MongoDB Chat Update","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"amount":"={{ $json.tempoDeEspera }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1488,976],"id":"4f25f0d2-cc81-49de-aa16-d950e5630063","name":"Wait","webhookId":"af9f1819-a7f5-4c28-ac35-c3627ee66aa5"},{"parameters":{"resource":"chat-api","instanceName":"={{ $('Campos').first().json.instancia }}","numbers":"={{ $json.numero }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-288,176],"id":"254e3190-707b-4569-b4c8-8799e8aeb4f2","name":"Verificar","credentials":{"evolutionApi":{"id":"fpKss1yPnZN3rtvW","name":"Evolution Atendente SEO"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Campos').first().json.instancia }}","remoteJid":"={{ $('CamposItem').first().json.numero }}","messageText":"Olá, com quem estou falando?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-32,176],"id":"9b691a44-c9ea-4e48-9eeb-6d6737be6059","name":"Enviar texto","credentials":{"evolutionApi":{"id":"fpKss1yPnZN3rtvW","name":"Evolution Atendente SEO"}}},{"parameters":{"assignments":{"assignments":[{"id":"397c844b-06a5-452b-a863-8f4c3c6aa071","name":"instancia","value":"AtendenteSEO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,832],"id":"e1d1b182-8c5a-432c-8672-021f4e36bf72","name":"Campos"},{"parameters":{"assignments":{"assignments":[{"id":"f3babff8-8b2d-49b6-9969-19b7112c11cb","name":"numero","value":"={{ $json.numWhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,736],"id":"a9ddd80d-5884-4127-8359-963aa5c15dd7","name":"CamposItem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60ec954e-ad90-4f3d-bed2-b3a8b0b424ce","leftValue":"={{ $json.exist }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[32,752],"id":"53595e27-1465-4101-95a8-c0308053a6c3","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"8c940832-4c65-4258-a43e-e4950e9ed514","name":"data[0].number","value":"={{ $json.data[0].number }}","type":"string"},{"id":"3b5347f5-4bed-447e-9555-52571979cccd","name":"place_id","value":"={{ $('Loop Over Items').item.json.place_id }}","type":"string"},{"id":"d67e7405-61b6-4ab8-9e60-e22f8db3d9e0","name":"status","value":"desativado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,928],"id":"0aa416c5-b55b-45cf-9c6b-8a82664702c4","name":"CamposCancelados"},{"parameters":{"collection":"places_contacts","options":{},"query":"{\"numWhatsApp\":\"5548999199797\"}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-816,528],"id":"2b7c1f45-5b9a-46ac-a180-5f6060ba1dd5","name":"MongoDBTeste","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"operation":"update","collection":"places_contacts","updateKey":"place_id","fields":"status","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[384,928],"id":"fb5b29b6-ca27-4fdf-84c6-69b9d46f54f2","name":"Update documents","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.tempoDeEspera = Math.floor( Math.random() * 120 + 60);\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,880],"id":"eee7ebbd-bd1c-4f51-a23c-49079228a03d","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"9739bd55-1b23-4c68-b43c-d09d7ab03900","name":"tempoDeEspera","value":2,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,976],"id":"916a7de5-289f-416a-b533-9e3bf21dd0bc","name":"EsperaRapida"},{"parameters":{"collection":"places_contacts","options":{"limit":10},"query":"{\"status\":\"não iniciado\", \"numWhatsApp\": {\"$ne\":\"\"}}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-816,720],"id":"2a567579-09d1-4592-affb-d636abd8d9db","name":"Find documents","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}},{"parameters":{"workflowId":{"__rl":true,"value":"sdf1nckzGEUPJuaY","mode":"list","cachedResultName":"[S002][SEO][v1.1][Google Map Leads][03.00.02][Enviar Texto][ZAPI]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('CamposItem').first().json.numero }}","texto":"Olá, tudo bem? Com quem estou falando?"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[272,720],"id":"af69b265-a1fa-41af-91fd-ea9fde23d1c1","name":"Workflow Enviar Texto"},{"parameters":{"workflowId":{"__rl":true,"value":"qdw7yKa8GB0QuWhR","mode":"list","cachedResultName":"[S002][SEO][v1.1][Google Map Leads][03.00.01][Verificar Número][ZAPI]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $json.numero }}"},"matchingColumns":["numero"],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-192,736],"id":"0682e8ae-a378-4909-b1af-425b8c0ee683","name":"Workflow Verificar Número"},{"parameters":{"content":"## Esse fluxo foi para a pasta de SDK ","width":1024,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1616,0],"typeVersion":1,"id":"d62b9205-a5d6-4f10-9678-efa7cc1c4378","name":"Sticky Note1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[]]},"Se horário":{"main":[[{"node":"MongoDBTeste","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"CamposItem","type":"main","index":0}]]},"Chat":{"main":[[{"node":"MongoDB Chat Update","type":"main","index":0}]]},"Contact":{"main":[[{"node":"MongoDB Contact Updade","type":"main","index":0}]]},"MongoDB Contact Updade":{"main":[[{"node":"MongoDB Chat Find","type":"main","index":0}]]},"MongoDB Chat Find":{"main":[[{"node":"Chat","type":"main","index":0}]]},"MongoDB Chat Update":{"main":[[{"node":"Code","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Verificar":{"main":[[]]},"Enviar texto":{"main":[[]]},"Campos":{"main":[[{"node":"Se horário","type":"main","index":0}]]},"CamposItem":{"main":[[{"node":"Workflow Verificar Número","type":"main","index":0}]]},"If":{"main":[[{"node":"Workflow Enviar Texto","type":"main","index":0}],[{"node":"CamposCancelados","type":"main","index":0}]]},"CamposCancelados":{"main":[[{"node":"Update documents","type":"main","index":0}]]},"Update documents":{"main":[[{"node":"EsperaRapida","type":"main","index":0}]]},"Code":{"main":[[{"node":"Wait","type":"main","index":0}]]},"EsperaRapida":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Find documents":{"main":[[]]},"Workflow Enviar Texto":{"main":[[{"node":"Contact","type":"main","index":0}]]},"Workflow Verificar Número":{"main":[[{"node":"If","type":"main","index":0}]]},"MongoDBTeste":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"MongoDBTeste":[{"json":{"_id":"686c0e0466cf9c16afe70350","numWhatsApp":"5548999199797","telefone":"(48) 99919-9797","tipo":"dentista","place_id":"48999199797seocom","dt_ocorrencia":"2025-07-07T15:12:20.209-03:00","dt_ult_alteracao":"2025-09-11T11:33:06.330-03:00","status":"não iniciado"}}]},"versionId":"e7be915b-df21-4fd3-ac7d-969b7406ac81","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:50:48.026Z","createdAt":"2025-09-08T17:50:48.026Z","role":"workflow:owner","workflowId":"xCC6lav8ylyfhjiu","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":null,"tags":[]}