n8n/[S002][SEO][Buscas][01][Cidades][v1.0]
{"updatedAt":"2026-04-23T12:09:37.022Z","createdAt":"2025-09-08T17:20:12.775Z","id":"dDvhXHNUou9xJopy","name":"[S002][SEO][Buscas][01][Cidades][v1.0]","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"1442ed64-6966-4532-abbe-1351d7a8b9a2","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0],"id":"f8264774-29d0-4c0e-b253-630e21995efc","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"453c5592-d199-4998-a29f-fb09f8e9f643","name":"municipio","value":"={{ $json['Município'] }}","type":"string"},{"id":"ab60d9e5-b697-45d2-be46-d1bae4d4564f","name":"populacao","value":"={{ $json['População'] }}","type":"number"},{"id":"0c514a8e-a5b0-4c6a-b0a9-cb46b8eac9d2","name":"estado","value":"={{ $json.Estado }}","type":"string"},{"id":"4782d3c7-cc99-4005-bb1d-bc08fa18397d","name":"status","value":"inicial","type":"string"},{"id":"83433881-2913-4edd-a1cb-1379b7898fc9","name":"chave","value":"={{ $json['Município'] }}|{{ $json.Estado }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,32],"id":"8286855d-311b-40c4-b6db-0bd0767e1c7f","name":"Campos"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1200,32],"id":"16f09871-4a98-47bc-be2c-ccb2ccc4c5c9","name":"No Operation, do nothing"},{"parameters":{"documentId":{"__rl":true,"value":"1A4WJQ006vcr9cztBARKKaaeA52Xj_NMlRg-cl0oiips","mode":"list","cachedResultName":"BairrosCidadesEstados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A4WJQ006vcr9cztBARKKaaeA52Xj_NMlRg-cl0oiips/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1812950776,"mode":"list","cachedResultName":"Cidades","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A4WJQ006vcr9cztBARKKaaeA52Xj_NMlRg-cl0oiips/edit#gid=1812950776"},"filtersUI":{"values":[{"lookupColumn":"Estado","lookupValue":"MT"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[224,0],"id":"519cec2d-6f20-428e-b6ef-74f4c108d1aa","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"IjfXx5st4tyc0jHF","name":"Google Sheets account"}}},{"parameters":{"operation":"insert","collection":"cities","fields":"municipio, populacao, estado, chave, status","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[992,32],"id":"f0638994-7fba-4b06-9f2a-343cac3cbff8","name":"cities","credentials":{"mongoDb":{"id":"iZn7ggTF2qDvGvv3","name":"MongoDB SEO Places"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Campos","type":"main","index":0}]]},"Campos":{"main":[[{"node":"cities","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"cities":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d1ce22bd-f14c-4390-9a98-ceb3621f76a4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:20:12.775Z","createdAt":"2025-09-08T17:20:12.775Z","role":"workflow:owner","workflowId":"dDvhXHNUou9xJopy","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":null,"tags":[]}