n8n/[S002][SEO][Google Map Leads][01.1.0][SubFlow][Scanner][API][v1.1]
{"updatedAt":"2026-04-16T15:51:06.746Z","createdAt":"2025-09-08T17:36:08.365Z","id":"n52yP0gmh5NrCMfz","name":"[S002][SEO][Google Map Leads][01.1.0][SubFlow][Scanner][API][v1.1]","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/textsearch/json","authentication":"predefinedCredentialType","nodeCredentialType":"actionNetworkApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.buscas }}"},{"name":"key","value":"AIzaSyDQLybSJH7sv-CY8gx8Has2JM5Fm4krjrQ"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-320],"id":"0699bcb4-ab32-4cba-b719-54a80efdc277","name":"Places","credentials":{"googleApi":{"id":"NkJCLtpuC14pKwPN","name":"Google Service Account account"},"googleOAuth2Api":{"id":"wW2Q4KJV62fkVcew","name":"Google OAuth2 Api N8N account"},"actionNetworkApi":{"id":"szX4u78nljh8sFTT","name":"Google API Maps Key"}}},{"parameters":{"workflowId":{"__rl":true,"value":"egVI349ciziFHdZH","mode":"list","cachedResultName":"[S002][SEO][Google Map Leads][01.1.1][SubFlow][Scanner][MongoDB][v1.1]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[800,0],"id":"f931d884-3a1e-4a45-8b23-5882ac3629b7","name":"Execute Workflow"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[992,0],"id":"74b59511-9085-42ee-a3bc-3b23aba22610","name":"Aggregate"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1136,0],"id":"dd5be241-bc03-49ab-a3d2-7c5ed7ca09b2","name":"Wait","webhookId":"3f74368f-c3fa-49f7-a5d2-1f0a7c682c5f"},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/textsearch/json?pagetoken={{ $json.next_page_token }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"query"},{"name":"key","value":"AIzaSyDQLybSJH7sv-CY8gx8Has2JM5Fm4krjrQ"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,-272],"id":"eee0c083-9110-4d19-bb96-2f140093b78e","name":"PlacesNext","credentials":{"googleApi":{"id":"NkJCLtpuC14pKwPN","name":"Google Service Account account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23db7806-28e2-4433-bd04-ffec8d765c1c","leftValue":"={{ $json.next_page_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,0],"id":"fb428707-1fdb-454b-a7b5-8383aebd44a2","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"43629102-60c7-4ba7-9e16-c4951ed6a199","name":"next_page_token","value":"={{ $('NewPlaces').item.json.nextPageToken }}","type":"string"},{"id":"cc70e21d-13b7-4b7d-b853-e84ebd0a76dc","name":"tipo","value":"={{ $('workflow').first().json.tipo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1296,0],"id":"feffa017-fd03-4420-b6e9-a1b86b16fd67","name":"Próximos Lugares"},{"parameters":{"workflowId":{"__rl":true,"value":"egVI349ciziFHdZH","mode":"list","cachedResultName":"[S002][SEO][Google Map Leads][01.1.1][SubFlow][Scanner][MongoDB][v1.1]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2016,0],"id":"a129cb1d-f863-4836-af84-2eedc9a3be92","name":"Execute Workflow1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2160,0],"id":"8ff18bcd-6171-44f7-a045-222150925de6","name":"Aggregate1"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2320,0],"id":"4cebc830-20e7-46b2-bbdb-ceeb84c43b12","name":"Wait1","webhookId":"7e7d6664-14ee-4d35-a1d2-4b30ce2ae8b2"},{"parameters":{"assignments":{"assignments":[{"id":"4c620ee8-327e-40a2-8cdd-72217b3cd663","name":"next_page_token","value":"={{ $('PlaceNextToken').item.json.nextPageToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2496,0],"id":"8670bdc4-9011-4bc0-b57c-cd255f529c59","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1712,656],"id":"01952679-63aa-4f06-8503-e7f81db66ea5"},{"parameters":{"assignments":{"assignments":[{"id":"2898de4e-8859-4385-9f78-3c90d839e359","name":"results","value":"={{ $json.places }}","type":"array"},{"id":"4e7e7f31-fd04-424a-a5c8-927340313e2d","name":"buscas","value":"={{ $('workflow').first().json.buscas }}","type":"string"},{"id":"a8719e84-3661-4596-a877-c87c7f570140","name":"tipo","value":"={{ $('workflow').first().json.tipo }}","type":"string"},{"id":"96844f7e-5b84-44e9-bbd5-7d555660394a","name":"next_page_token","value":"={{ $json.nextPageToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0],"id":"1729bcd2-40f2-426f-99ff-cc6a2211db9c","name":"Resultado"},{"parameters":{"assignments":{"assignments":[{"id":"0315fcc7-cd70-4cd3-a4ee-7e95ee8eedbc","name":"results","value":"={{ $json.places }}","type":"array"},{"id":"5a6941c4-9c2b-476b-b0db-2fe25a7a56ec","name":"buscas","value":"={{ $('workflow').first().json.buscas }}","type":"string"},{"id":"1b2e09ae-49dc-42d9-b516-29b0e4d7525d","name":"tipo","value":"={{ $('workflow').first().json.tipo }}","type":"string"},{"id":"dd373db8-ad84-404d-8786-27bdf00dc3d4","name":"next_page_token","value":"={{ $json.nextPageToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,0],"id":"eb5e0f63-aaa9-4ddb-9604-6a754b4a0dbd","name":"ResultadosProx"},{"parameters":{"url":"https://places.googleapis.com/v1/places:searchText","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Goog-Api-Key","value":"AIzaSyBhS7KeqHuBlpYDSJpOEgCAcEaAm8PrY0Y"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $json.buscas }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-304],"id":"c50a6785-8b44-4634-b1b5-39b0f5a6654d","name":"Places1","credentials":{"googleApi":{"id":"NkJCLtpuC14pKwPN","name":"Google Service Account account"},"googleOAuth2Api":{"id":"wW2Q4KJV62fkVcew","name":"Google OAuth2 Api N8N account"},"actionNetworkApi":{"id":"szX4u78nljh8sFTT","name":"Google API Maps Key"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-112,0],"id":"acf8973f-2e3c-4641-9673-ee653c730150","name":"workflow"},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"AIzaSyBhS7KeqHuBlpYDSJpOEgCAcEaAm8PrY0Y"},{"name":"X-Goog-FieldMask","value":"places.displayName,places.formattedAddress,places.priceLevel,places.id,places.attributions,places.types,places.businessStatus,nextPageToken,places.rating,places.userRatingCount"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $json.buscas }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,80],"id":"22d3488a-0a72-4fa5-8ae5-f1f62e9589b2","name":"NewPlaces"},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"AIzaSyBhS7KeqHuBlpYDSJpOEgCAcEaAm8PrY0Y"},{"name":"X-Goog-FieldMask","value":"places.displayName,places.formattedAddress,places.priceLevel,places.id,places.attributions,places.types,places.businessStatus,nextPageToken,places.rating,places.userRatingCount"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $('workflow').item.json.buscas }}"},{"name":"pageSize","value":"20"},{"name":"pageToken","value":"={{ $json.next_page_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,-96],"id":"1f5e2aa6-89b4-403d-961f-234aae8947f8","name":"PlaceNextToken"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"205a88c2-7032-4b6e-927d-eda00e44c845","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,48],"id":"133b5735-4bbc-4cb3-be7d-4be06634a2c9","name":"If1"}],"connections":{"Places":{"main":[[]]},"Execute Workflow":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Próximos Lugares","type":"main","index":0}]]},"PlacesNext":{"main":[[]]},"If":{"main":[[{"node":"PlaceNextToken","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Próximos Lugares":{"main":[[{"node":"If","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Resultado":{"main":[[{"node":"If1","type":"main","index":0}]]},"ResultadosProx":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Places1":{"main":[[]]},"workflow":{"main":[[{"node":"NewPlaces","type":"main","index":0}]]},"NewPlaces":{"main":[[{"node":"Resultado","type":"main","index":0}]]},"PlaceNextToken":{"main":[[{"node":"ResultadosProx","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"workflow":[{"json":{"buscas":"fábrica de alimentos Fortaleza-CE","tipo":"fábrica de alimentos","row_number":0,"status":"não feito"}}]},"versionId":"86310fda-52f7-4f9c-92c4-78cbf7add9fc","activeVersionId":"86310fda-52f7-4f9c-92c4-78cbf7add9fc","triggerCount":0,"shared":[{"updatedAt":"2025-09-08T17:36:08.365Z","createdAt":"2025-09-08T17:36:08.365Z","role":"workflow:owner","workflowId":"n52yP0gmh5NrCMfz","projectId":"8AyX3H7UJy1cwpGc"}],"activeVersion":{"updatedAt":"2026-06-02T20:19:23.570Z","createdAt":"2026-05-14T18:27:28.889Z","versionId":"86310fda-52f7-4f9c-92c4-78cbf7add9fc","workflowId":"n52yP0gmh5NrCMfz","nodes":[{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/textsearch/json","authentication":"predefinedCredentialType","nodeCredentialType":"actionNetworkApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.buscas }}"},{"name":"key","value":"AIzaSyDQLybSJH7sv-CY8gx8Has2JM5Fm4krjrQ"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-320],"id":"0699bcb4-ab32-4cba-b719-54a80efdc277","name":"Places","credentials":{"googleApi":{"id":"NkJCLtpuC14pKwPN","name":"Google Service Account account"},"googleOAuth2Api":{"id":"wW2Q4KJV62fkVcew","name":"Google OAuth2 Api N8N account"},"actionNetworkApi":{"id":"szX4u78nljh8sFTT","name":"Google API Maps Key"}}},{"parameters":{"workflowId":{"__rl":true,"value":"egVI349ciziFHdZH","mode":"list","cachedResultName":"[S002][SEO][Google Map Leads][01.1.1][SubFlow][Scanner][MongoDB][v1.1]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[800,0],"id":"f931d884-3a1e-4a45-8b23-5882ac3629b7","name":"Execute Workflow"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[992,0],"id":"74b59511-9085-42ee-a3bc-3b23aba22610","name":"Aggregate"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1136,0],"id":"dd5be241-bc03-49ab-a3d2-7c5ed7ca09b2","name":"Wait","webhookId":"3f74368f-c3fa-49f7-a5d2-1f0a7c682c5f"},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/textsearch/json?pagetoken={{ $json.next_page_token }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"query"},{"name":"key","value":"AIzaSyDQLybSJH7sv-CY8gx8Has2JM5Fm4krjrQ"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,-272],"id":"eee0c083-9110-4d19-bb96-2f140093b78e","name":"PlacesNext","credentials":{"googleApi":{"id":"NkJCLtpuC14pKwPN","name":"Google Service Account account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23db7806-28e2-4433-bd04-ffec8d765c1c","leftValue":"={{ $json.next_page_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,0],"id":"fb428707-1fdb-454b-a7b5-8383aebd44a2","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"43629102-60c7-4ba7-9e16-c4951ed6a199","name":"next_page_token","value":"={{ $('NewPlaces').item.json.nextPageToken }}","type":"string"},{"id":"cc70e21d-13b7-4b7d-b853-e84ebd0a76dc","name":"tipo","value":"={{ $('workflow').first().json.tipo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1296,0],"id":"feffa017-fd03-4420-b6e9-a1b86b16fd67","name":"Próximos Lugares"},{"parameters":{"workflowId":{"__rl":true,"value":"egVI349ciziFHdZH","mode":"list","cachedResultName":"[S002][SEO][Google Map Leads][01.1.1][SubFlow][Scanner][MongoDB][v1.1]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2016,0],"id":"a129cb1d-f863-4836-af84-2eedc9a3be92","name":"Execute Workflow1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2160,0],"id":"8ff18bcd-6171-44f7-a045-222150925de6","name":"Aggregate1"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2320,0],"id":"4cebc830-20e7-46b2-bbdb-ceeb84c43b12","name":"Wait1","webhookId":"7e7d6664-14ee-4d35-a1d2-4b30ce2ae8b2"},{"parameters":{"assignments":{"assignments":[{"id":"4c620ee8-327e-40a2-8cdd-72217b3cd663","name":"next_page_token","value":"={{ $('PlaceNextToken').item.json.nextPageToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2496,0],"id":"8670bdc4-9011-4bc0-b57c-cd255f529c59","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1712,656],"id":"01952679-63aa-4f06-8503-e7f81db66ea5"},{"parameters":{"assignments":{"assignments":[{"id":"2898de4e-8859-4385-9f78-3c90d839e359","name":"results","value":"={{ $json.places }}","type":"array"},{"id":"4e7e7f31-fd04-424a-a5c8-927340313e2d","name":"buscas","value":"={{ $('workflow').first().json.buscas }}","type":"string"},{"id":"a8719e84-3661-4596-a877-c87c7f570140","name":"tipo","value":"={{ $('workflow').first().json.tipo }}","type":"string"},{"id":"96844f7e-5b84-44e9-bbd5-7d555660394a","name":"next_page_token","value":"={{ $json.nextPageToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0],"id":"1729bcd2-40f2-426f-99ff-cc6a2211db9c","name":"Resultado"},{"parameters":{"assignments":{"assignments":[{"id":"0315fcc7-cd70-4cd3-a4ee-7e95ee8eedbc","name":"results","value":"={{ $json.places }}","type":"array"},{"id":"5a6941c4-9c2b-476b-b0db-2fe25a7a56ec","name":"buscas","value":"={{ $('workflow').first().json.buscas }}","type":"string"},{"id":"1b2e09ae-49dc-42d9-b516-29b0e4d7525d","name":"tipo","value":"={{ $('workflow').first().json.tipo }}","type":"string"},{"id":"dd373db8-ad84-404d-8786-27bdf00dc3d4","name":"next_page_token","value":"={{ $json.nextPageToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,0],"id":"eb5e0f63-aaa9-4ddb-9604-6a754b4a0dbd","name":"ResultadosProx"},{"parameters":{"url":"https://places.googleapis.com/v1/places:searchText","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Goog-Api-Key","value":"AIzaSyBhS7KeqHuBlpYDSJpOEgCAcEaAm8PrY0Y"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $json.buscas }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-304],"id":"c50a6785-8b44-4634-b1b5-39b0f5a6654d","name":"Places1","credentials":{"googleApi":{"id":"NkJCLtpuC14pKwPN","name":"Google Service Account account"},"googleOAuth2Api":{"id":"wW2Q4KJV62fkVcew","name":"Google OAuth2 Api N8N account"},"actionNetworkApi":{"id":"szX4u78nljh8sFTT","name":"Google API Maps Key"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-112,0],"id":"acf8973f-2e3c-4641-9673-ee653c730150","name":"workflow"},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"AIzaSyBhS7KeqHuBlpYDSJpOEgCAcEaAm8PrY0Y"},{"name":"X-Goog-FieldMask","value":"places.displayName,places.formattedAddress,places.priceLevel,places.id,places.attributions,places.types,places.businessStatus,nextPageToken,places.rating,places.userRatingCount"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $json.buscas }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,80],"id":"22d3488a-0a72-4fa5-8ae5-f1f62e9589b2","name":"NewPlaces"},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"AIzaSyBhS7KeqHuBlpYDSJpOEgCAcEaAm8PrY0Y"},{"name":"X-Goog-FieldMask","value":"places.displayName,places.formattedAddress,places.priceLevel,places.id,places.attributions,places.types,places.businessStatus,nextPageToken,places.rating,places.userRatingCount"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $('workflow').item.json.buscas }}"},{"name":"pageSize","value":"20"},{"name":"pageToken","value":"={{ $json.next_page_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,-96],"id":"1f5e2aa6-89b4-403d-961f-234aae8947f8","name":"PlaceNextToken"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"205a88c2-7032-4b6e-927d-eda00e44c845","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,48],"id":"133b5735-4bbc-4cb3-be7d-4be06634a2c9","name":"If1"}],"connections":{"Places":{"main":[[]]},"Execute Workflow":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Próximos Lugares","type":"main","index":0}]]},"PlacesNext":{"main":[[]]},"If":{"main":[[{"node":"PlaceNextToken","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Próximos Lugares":{"main":[[{"node":"If","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Resultado":{"main":[[{"node":"If1","type":"main","index":0}]]},"ResultadosProx":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Places1":{"main":[[]]},"workflow":{"main":[[{"node":"NewPlaces","type":"main","index":0}]]},"NewPlaces":{"main":[[{"node":"Resultado","type":"main","index":0}]]},"PlaceNextToken":{"main":[[{"node":"ResultadosProx","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]}},"authors":"system migration","name":"Version 86310fda","description":"","autosaved":false},"tags":[]}